{% extends "LilyBackOfficeBundle::layout.html.twig" %}

{% block stylesheets %}

{{ parent() }}

{% stylesheets 'css/utils/daterangepicker.css' filter='cssrewrite' output='css/compiled/profile.css' %}

  <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />

{% endstylesheets %}

  <link rel="stylesheet" href="{{ asset('css/backoffice/profile.css', version=getAppVersion()) }}" type="text/css"/>

{% endblock %}

{% block body %}

<section>
  <section class="hbox stretch">

  {% include "LilyBackOfficeBundle::menu.html.twig" %}

	{% block content %}


    <!-- .vbox -->
    <section class="vbox content-wrapper">
    </section>
    <!-- /.vbox -->

	{% endblock %}


  {% block templates %}

    {% autoescape false %}

    <script type="text/template" id="skeletonTpl">
      {% include 'LilyUserBundle:Profile:skeleton.html.twig' %}
    </script>
    <script type="text/template" id="userEditTpl">
      {% include 'LilyUserBundle:Profile:user-edit.html.twig' %}
    </script>
    <script type="text/template" id="activitiesSkeletonTpl">
      {% include 'LilyUserBundle:Profile/Activities:skeleton.html.twig' %}
    </script>
    <script type="text/template" id="activitiesStatisticsGraphTpl">
      {% include 'LilyUserBundle:Profile/Activities/Statistics:graph.html.twig' %}
    </script>
    <script type="text/template" id="activitiesStatisticsFooterTpl">
      {% include 'LilyUserBundle:Profile/Activities/Statistics:footer.html.twig' %}
    </script>
    <script type="text/template" id="activitiesLogsSkeletonTpl">
      {% include 'LilyUserBundle:Profile/Activities/Logs:skeleton.html.twig' %}
    </script>
    <script type="text/template" id="activitiesLogsLogTpl">
      {% include 'LilyUserBundle:Profile/Activities/Logs:log.html.twig' %}
    </script>
    <script type="text/template" id="activitiesChatsSkeletonTpl">
      {% include 'LilyUserBundle:Profile/Activities/Chats:skeleton.html.twig' %}
    </script>
    <script type="text/template" id="activitiesChatsChatTpl">
      {% include 'LilyUserBundle:Profile/Activities/Chats:chat.html.twig' %}
    </script>
    <script type="text/template" id="activitiesChatsDetailsTpl">
      {% include 'LilyUserBundle:Profile/Activities/Chats:details.html.twig' %}
    </script>

    {% endautoescape %}

  {% endblock %}

  {% block bootstrap %}
    {% autoescape false %}
      <script type="text/javascript">
        var config = window.config || {};
        config.version = "{{ getAppVersion() }}";
        config.ws = {};
        config.root = '{{ app.request.getBaseURL() }}/api';
        config.appRoot = '{{ app.request.getBaseURL() }}/app/api';
        config.userId = '{{ app.user.id }}';
        config.ws.host = "{{ ws_host }}";
        config.ws.protocol = "{{ ws_protocol }}";
        config.licence = '{{ app.user.client.licence }}';
        config.synapsePassword = '{{ app.user.client.synapsePassword }}';
	    </script>
    {% endautoescape %}
  {% endblock %}

  </section>
</section>

{% if app.environment == 'dev' %}
<script
  src="{{ asset('js/bower_components/requirejs/require.js')}}"
  data-main="{{ asset('js/backoffice/profile/main.js')}}">
</script>
{% else %}
<script src="{{ asset('js-build/common.js')}}"></script>
<script src="{{ asset('js-build/chatComp.js')}}"></script>
<script src="{{ asset('js-build/profile/main.js')}}"></script>
{% endif %}

{% endblock %}
