<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>{% block title %}Changement d'avatar{% endblock %}</title>
  
	{% stylesheets 'css/backoffice/users/avatarWidget.css' 'css/vendor/bootstrap.css' filter='cssrewrite' %}
	  
	  <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
	  
	{% endstylesheets %}

	<!--[if lt IE 9]>
		<script src="{{ asset('js/ie/respond.min.js') }}" cache="false"></script>
		<script src="{{ asset('js/ie/html5.js') }}" cache="false"></script>
		<script src="{{ asset('js/ie/fix.js') }}" cache="false"></script>
	<![endif]-->
  
</head>
<body>

	<form id="avatarWidgetForm" method="POST" {{ form_enctype(form) }}>
		<div id="avatarContainer"
			{% if errors is empty %} style="background-image:url('{{ form.avatar.vars.value }}')" {% endif %} >
			{{ form_widget(form.avatarFile, {attr : { class : 'changeAvatarInput'}}) }}
			<button id="changeAvatar" class="form-control">Modifier</button>
			{% if errors is not empty %}
				<div id="errorMessage">
					{% for error in errors %}
						{{ error }}<br />
					{% endfor %}
				</div>
			{% endif %}
		</div>
		{{ form_rest(form) }}
	</form>

</body>
</html>