<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <!-- NAME: 1 COLUMN -->
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title></title>

</head>
<body >
    <table align="center" border="0" cellpadding="0" cellspacing="0" id="bodyTable" width="100%">
      <tr>
        <td align="center" id="bodyCell" valign="top">
          <!-- BEGIN TEMPLATE // -->


          <table border="0" cellpadding="0" cellspacing="0" id="templateContainer" width="600">

            <tr>
              <td align="center" valign="top">
                <!-- BEGIN HEADER // -->

                <table border="0" cellpadding="0" cellspacing="0" id="templateHeader" width="600" style="border-color: #eeeeee #eeeeee transparent; border-style: solid; border-width: 1px">
                  <tr>
                    <td class="headerContainer" valign="top">
                      <table border="0" cellpadding="0" cellspacing="0" class="mcnCodeBlock" width="100%">
                        <tbody class="mcnTextBlockOuter">
                          <tr>
                            <td class="mcnTextBlockInner" valign="top">
                              <div class="mcnTextContent" style="position: relative">
                                <div style="background: #5dcff3 url(https://gallery.mailchimp.com/1247f4a96682cc62a71664bdf/images/1b5abf31-fe88-46d0-9315-f9ea6f31cd92.png); margin-left: 20px; margin-top: 19px; max-height: 100px; width: 560px">
                                <span style="color: #fff; font-family: Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif; font-size: 20px; font-weight: 300; line-height: 146px; margin-left: 20px">
                                  Message reçu depuis l'application SAIO</span>
                                </div>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </table>
                <!-- // END HEADER -->
              </td>
            </tr>

            <tr>
              <td align="center" valign="top">
                <!-- BEGIN BODY // -->

                <table border="0" cellpadding="0" cellspacing="0" id="templateBody" width="600" style="border-color: transparent #eeeeee #eeeeee; border-style: solid; border-width: 1px">
                  <tr>
                    <td class="bodyContainer" valign="top">

                      <table border="0" cellpadding="0" cellspacing="0" class="mcnTextBlock" width="100%">
                        <tbody class="mcnTextBlockOuter">
                          <tr>
                            <td class="mcnTextBlockInner" valign="top">
                              <table align="left" border="0" cellpadding="0" cellspacing="0" class="mcnTextContentContainer" width="600">
                                <tbody>
                                  <tr>
                                    <td class="mcnTextContent" style="color: #555555; padding: 9px 18px" valign="top">
                                      <div style="text-align: left; font-size: 14px; color: #555555; font-family: arial,helvetica neue,helvetica,sans-serif; margin: 0" align="left">
                                        <br />
                                        Bonjour,
                                        <br />

                                        <p>
                                          {% if email is not null %}
                                          Vous avez reçu un nouveau message de la part de <strong>{{email}}</strong> depuis votre site web:
                                          {% else %}
                                          Un visiteur vous a envoyé un message depuis votre site web:
                                          {% endif %}
                                        </p>

                                        {% if message is not null %}
                                        <div style="border-left-color: #cecece; border-left-style: solid; border-left-width: 5px; color: #555555; margin-bottom: 30px; margin-top: 30px; padding-left: 15px">
                                          <quote>
                                            {{message}}
                                          </quote>
                                        </div>
                                        {% endif %}

                                        {% if tel is not null %}
                                        <p style="background: #FFF9C9; border-radius: 10px; color: #555555 !important; font-family: arial,helvetica neue,helvetica,sans-serif; margin: 0; padding: 10px 15px">Ce visiteur souhaite être recontacté par téléphone au <strong>{{tel}}</strong>

                                          {% if date is not null and time is not null %}
                                          <span style="color: #555555; margin: 0">, de préférence le <strong>{{date}}</strong>, <strong>{{time}}</strong>.</span>

                                          {% elseif date is not null %}
                                          <span style="color: #555555; margin: 0">, de préférence le <strong>{{date}}</strong>.</span>

                                          {% elseif time is not null %}
                                          <span style="color: #555555; margin: 0">, de préférence <strong>{{time}}</strong>.</span>
                                          {% endif %}

                                        {% endif %}
                                        </p>
                                      </div>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>

                      <table border="0" cellpadding="0" cellspacing="0" class="mcnDividerBlock" width="100%">
                        <tbody class="mcnDividerBlockOuter">
                          <tr>
                            <td class="mcnDividerBlockInner" style="padding: 30px 18px 20px">
                              <table border="0" cellpadding="0" cellspacing="0" class="mcnDividerContent" style="border-top-color: #5dcff3; border-top-style: solid; border-top-width: 5px" width="100%">
                                <tbody>
                                  <tr>
                                    <td><span></span>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>

                    </td>
                  </tr>
                </table>
                <!-- // END BODY -->
              </td>
            </tr>

            <tr>
              <td align="center" valign="top">
                <!-- BEGIN FOOTER // -->

                <table border="0" cellpadding="0" cellspacing="0" id="templateFooter" width="600">
                  <tr>
                    <td class="footerContainer" style="padding-bottom: 9px" valign="top">
                      <table border="0" cellpadding="0" cellspacing="0" class="mcnTextBlock" width="100%">
                        <tbody class="mcnTextBlockOuter">
                          <tr>
                            <td class="mcnTextBlockInner" valign="top">
                              <table align="left" border="0" cellpadding="0" cellspacing="0" class="mcnTextContentContainer" width="600">
                                <tbody>
                                  <tr>
                                    <td class="mcnTextContent" style="color: #555555 !important; font-weight: normal; line-height: 150%; padding: 9px 18px; text-align: center" valign="top" align="center">
                                      <div style="text-align: center" align="center">
                                        Cet e-mail provient de SAIO SUPPORT
                                        <br />
                                        <br />
                                        <strong>Contact:</strong><br />
                                        SAIO SAS<br />
                                        44, rue Cauchy<br />
                                        94110 Arcueil
                                        <br /><br />
                                        Tél : +33 1 55 01 04 37<br />
                                        E-mail : <a href="mailto:contact@saio.fr">contact@saio.fr</a><br />
                                      </div>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </table>
                <!-- // END FOOTER -->
              </td>
            </tr>
          </table>
          <!-- // END TEMPLATE -->
        </td>
      </tr>
    </table>
</body>
</html>
