{% extends "LilyBackOfficeBundle::layout.html.twig" %}

{% block stylesheets %} 	   

{{ parent() }} 	   

{% stylesheets 'css/backoffice/chat.css' filter='cssrewrite'  output='css/compiled/chat.css'%}      
<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />     

{% endstylesheets %} 

{% endblock %}

{% block body %}

<section class="hbox stretch">

  	{% include "LilyBackOfficeBundle::menu.html.twig" with {'user': 'user'}  %}

	{% block content %}
	
	<section>
	  <section id="chat" class="vbox">
		<header class="header bg-dark bg-gradient">
		  <div class="header-control pull-right">
		    <div class="btn-group windows">
			  <button class="btn btn-sm dropdown-toggle" data-toggle="dropdown">
			    <span class="dropdown-label">1 conversation</span>
			  </button>
			  <ul class="dropdown-menu dropdown-select">
				<li class="active"><a href="#" data="1"><input type="radio" name="d-s-r">1 conversation</a></li>
				<li><a href="#" data="2"><input type="radio" name="d-s-r">2 conversations</a></li>
				<li><a href="#" data="4"><input type="radio" name="d-s-r">4 conversations</a></li>
			  </ul>
		    </div>
		    <div class="btn-group status">
		      <button class="btn btn-sm dropdown-toggle" data-toggle="dropdown">
		        <i class="icon-stop"></i><span class="dropdown-label"></span>		        
		      </button>
		      <ul class="dropdown-menu dropdown-select">
		        <li><a href="#" data="available"><input type="radio" name="d-s-r">Disponible</a></li>
		        <li class="active"><a href="#" data="unavailable"><input type="radio" name="d-s-r">Indisponible</a></li>
		      </ul>
		    </div>
		  </div>
		  <ul id="chat-nav" class="nav nav-tabs">
		    <li class="dashboard-nav active"><a href="#dashboard">Dashboard</a></li>
		    <li class="live-nav"><a href="#chat">Discussions<b class="badge bg-warning pull-right hide">0</b></a></li>
		  </ul>
        </header>
		<section id="chat-section">
		<!-- Live view -->
		</section>
		</section>
	  </section>
	</section>

	{% endblock %}
	
	{% block templates %}
		<!-- L'appel des différents scripts de vue -->
		<script type="text/template" id="dashboard">
            {% include 'LilyChatBundle:Operator/templates:dashboard.html.twig' %}
        </script>
        <script type="text/template" id="dashboard_connected">
            {% include 'LilyChatBundle:Operator/templates:dashboard_connected.html.twig' %}
        </script>
        <script type="text/template" id="parameters">
            {% include 'LilyChatBundle:Operator/templates:parameters.html.twig' %}
        </script>
		 <script type="text/template" id="live">
            {% include 'LilyChatBundle:Operator/templates:live.html.twig' %}
        </script>
 		<script type="text/template" id="conversation">
            {% include 'LilyChatBundle:Operator/templates:conversation.html.twig' %}
        </script>
        <script type="text/template" id="informations">
            {% include 'LilyChatBundle:Operator/templates:informations.html.twig' %}
        </script>
        <script type="text/template" id="message-visitor">
            {% include 'LilyChatBundle:Operator/templates:message_visitor.html.twig' %}
        </script>
        <script type="text/template" id="message-operator">
            {% include 'LilyChatBundle:Operator/templates:message_operator.html.twig' %}
        </script>
        <script type="text/template" id="messages-header">
            {% include 'LilyChatBundle:Operator/templates:messages_header.html.twig' %}
        </script>
        <script type="text/template" id="record">
            {% include 'LilyChatBundle:Operator/templates:record.html.twig' %}
        </script>
        <script type="text/template" id="modal-close">
            {% include 'LilyChatBundle:Operator/templates:modal_close.html.twig' %}
        </script>
        <script type="text/template" id="modal-ban">
            {% include 'LilyChatBundle:Operator/templates:modal_ban.html.twig' %}
        </script>
    {% endblock %}

	{% block bootstrap %}
	    {% autoescape false %}
	    <script type="text/javascript">
	        var root = '{{ path('lily_chat') }}';
	        var licence = '{{ app.user.enterprise.key }}';
	        var user = {
	        	id: '{{ app.user.id }}',
	        };
	    </script>
	    {% endautoescape %}
	{% endblock %}

</section>

{% endblock %}

{% block javascripts %}

{{ parent() }}

{% javascripts 

'js/charts/sparkline/jquery.sparkline.min.js' 
'js/charts/easypiechart/jquery.easy-pie-chart.js'

'js/wysiwyg/advanced_unwrap.js' 
'js/wysiwyg/wysihtml5.js' 

'js/vendor/autobahn-v1.min.js' 

'js/backoffice/chat/libs/modernizr-custom.js' 
'js/vendor/moment.js' 

'js/backoffice/chat/main.js' 
'js/backoffice/chat/app.js' 

'js/backoffice/chat/models/MessageModel.js' 
'js/backoffice/chat/models/Messages.js'
'js/backoffice/chat/models/OperatorModel.js' 
'js/backoffice/chat/models/Operators.js' 
'js/backoffice/chat/models/RecordModel.js' 
'js/backoffice/chat/models/Records.js' 
'js/backoffice/chat/models/Parameters.js' 

'js/backoffice/chat/views/RecordCurrentView.js' 
'js/backoffice/chat/views/RecordWaitingView.js' 
'js/backoffice/chat/views/LiveView.js' 
'js/backoffice/chat/views/ConversationView.js' 
'js/backoffice/chat/views/InformationsView.js'
'js/backoffice/chat/views/MessageView.js' 
'js/backoffice/chat/views/MessagesHeaderView.js'
'js/backoffice/chat/views/MessageOperatorView.js'
'js/backoffice/chat/views/MessageVisitorView.js' 
'js/backoffice/chat/views/ModalCloseView.js' 
'js/backoffice/chat/views/ModalBanView.js' 
'js/backoffice/chat/views/ParametersView.js' 
'js/backoffice/chat/views/DashboardView.js'
'js/backoffice/chat/views/DashboardListConnectedView.js'
'js/backoffice/chat/views/DashboardConnectedView.js' output='js/compiled/chat.js' %}

  <script type="text/javascript" src="{{ asset_url }}"></script>
  
{% endjavascripts %}

{% endblock %}