{% extends "LilyBackOfficeBundle::layout.html.twig" %}

{% block body %}

<section class="hbox stretch">

  	{% include "LilyBackOfficeBundle::menu.html.twig" with {'user': 'user'}  %}

	{% block content %}
	
	<section>
	  <section id="chat" class="vbox">
		<header class="header blue-header">
		    <h3>Live chat</h3>
		    <div class="header-control pull-right">
		      <div class="btn-group windows">
			    <button class="btn btn-sm dropdown-toggle" data-toggle="dropdown">
			      <span class="dropdown-label">1 conversation</span>
			    </button>
			    <ul class="dropdown-menu dropdown-select">
				  <li class="active"><a href="#" data="1"><input type="radio" name="d-s-r">1 conversation</a></li>
				  <li><a href="#" data="2"><input type="radio" name="d-s-r">2 conversations</a></li>
				  <li><a href="#" data="4"><input type="radio" name="d-s-r">4 conversations</a></li>
			    </ul>
		      </div>
		      <div class="btn-group status">
		        <button class="btn btn-sm dropdown-toggle" data-toggle="dropdown">
		          <i class="icon-stop"></i><span class="dropdown-label"></span>		        
		        </button>
		        <ul class="dropdown-menu dropdown-select">
		          <li><a href="#" data="available"><input type="radio" name="d-s-r">En ligne</a></li>
		          <li class="active"><a href="#" data="unavailable"><input type="radio" name="d-s-r">Hors ligne</a></li>
		        </ul>
		      </div>
		      <a href="#"><i class="icon-gear"></i></a> 
		      <a href="#"><i class="icon-bar-chart active"></i></a>
			  <a href="#"><b class="badge bg-warning pull-right hide">0</b><i class="icon-comments-alt"></i></a>   
		    </div>
		  </header>
		<section id="chat-section">
		<!-- Live view -->
		</section>
		</section>
	  </section>
	</section>

	{% endblock %}
	
	{% block templates %}
		<!-- L'appel des différents scripts de vue -->
		<script type="text/template" id="dashboard">
            {% include 'LilyChatBundle:Operator/templates:dashboard.html.twig' %}
        </script>
        <script type="text/template" id="parameters">
            {% include 'LilyChatBundle:Operator/templates:parameters.html.twig' %}
        </script>
		 <script type="text/template" id="live">
            {% include 'LilyChatBundle:Operator/templates:live.html.twig' %}
        </script>
 		<script type="text/template" id="conversation">
            {% include 'LilyChatBundle:Operator/templates:conversation.html.twig' %}
        </script>
        <script type="text/template" id="informations">
            {% include 'LilyChatBundle:Operator/templates:informations.html.twig' %}
        </script>
        <script type="text/template" id="message-visitor">
            {% include 'LilyChatBundle:Operator/templates:message_visitor.html.twig' %}
        </script>
        <script type="text/template" id="message-operator">
            {% include 'LilyChatBundle:Operator/templates:message_operator.html.twig' %}
        </script>
        <script type="text/template" id="record">
            {% include 'LilyChatBundle:Operator/templates:record.html.twig' %}
        </script>
        <script type="text/template" id="modal-close">
            {% include 'LilyChatBundle:Operator/templates:modal_close.html.twig' %}
        </script>
        <script type="text/template" id="modal-ban">
            {% include 'LilyChatBundle:Operator/templates:modal_ban.html.twig' %}
        </script>
    {% endblock %}

	{% block bootstrap %}
	    {% autoescape false %}
	    <script type="text/javascript">
	        var root = '{{ path('lily_chat') }}';
	        var licence = '{{ key }}';
	        var user = {
	        	id: '{{ app.user.id }}',
	        };
	    </script>
	    {% endautoescape %}
	{% endblock %}

</section>

{% endblock %}

{% block javascripts %}

{{ parent() }}

{% javascripts 

'js/charts/sparkline/jquery.sparkline.min.js' 
'js/charts/easypiechart/jquery.easy-pie-chart.js'

'js/wysiwyg/advanced_unwrap.js' 
'js/wysiwyg/wysihtml5.js' 

'js/vendor/autobahn-v1.min.js' 

'js/chat/libs/modernizr-custom.js' 
'js/vendor/moment.js' 'js/chat/main.js' 

'js/chat/app.js' 

'js/chat/models/MessageModel.js' 
'js/chat/models/Messages.js' 
'js/chat/models/RecordModel.js' 
'js/chat/models/Records.js' 
'js/chat/models/Parameters.js' 

'js/chat/views/RecordCurrentView.js' 
'js/chat/views/RecordWaitingView.js' 
'js/chat/views/LiveView.js' 
'js/chat/views/ConversationView.js' 
'js/chat/views/InformationsView.js'
'js/chat/views/MessageView.js' 
'js/chat/views/MessageOperatorView.js'
'js/chat/views/MessageVisitorView.js' 
'js/chat/views/ModalCloseView.js' 
'js/chat/views/ModalBanView.js' 
'js/chat/views/ParametersView.js' 
'js/chat/views/DashboardView.js' output='js/compiled/chat.js' %}

  <script type="text/javascript" src="{{ asset_url }}"></script>
  
{% endjavascripts %}

{% endblock %}