{% extends "LilyBackOfficeBundle::layout.html.twig" %}

{% block stylesheets %}
	
  {{ parent() }}
	
  {% stylesheets 'css/vendor/wheelcolorpicker.css' filter='cssrewrite' %}
  
  <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
  
  {% endstylesheets %}

{% endblock %}

{% block body %}

<section class="hbox stretch">

	{% include "LilyBackOfficeBundle::menu.html.twig" %}

	{% block content %}
	<!-- .section -->
	<section class="bg-light lt hidden-xs iframe-content">
	</section>
	<!-- /.section -->
	<!-- .aside -->
	<aside class="panel aside-xl">
	  <header class="panel-heading bg-light">
        <ul class="nav nav-tabs">
          <li class=""><a href="#avatar">Avatar</a></li>
          <li class=""><a href="#univers">Univers</a></li>
          <li class=""><a href="#interface">Interface</a></li>
          <li class="active"><a href="#iframe">Iframe</a></li>
        </ul>
	  </header>
	  <div class="panel-body">
        <div class="tab-content">
          <div class="tab-pane active" id="iframe">
            <h6 class="font-semibold">Forme & Emplacement
	          <a class="pull-right btn btn-danger btn-sm text m-t-n-xs2 m-l-xs">Annuler</a>
	          <a class="pull-right btn btn-success btn-sm text m-t-n-xs2">Sauvegarder</a>
            </h6>
          <div class="divider m-t-xlg"></div>
          <h6 class="m-t-lg">Sélecteur de couleurs:</h6>
          <div class="form-group m-t">
            <small>Contour</small>
            <input type="text"id="iframe-couleur-contour" style="background-color: #791352" value="#791352"></input>
          </div>
          <div class="form-group">
            <small>Police</small>
            <input type="text"id="iframe-couleur-police" style="background-color: #791352" value="#791352"></input>
          </div>
          <div class="form-group">
            <small>Background</small>
            <input type="text"id="iframe-couleur-background" style="background-color: #791352" value="#791352"></input>
          </div>
          <div class="divider m-t-xlg"></div>
          <h6 class="m-t-lg">Sélecteur de forme:</h6>
          <ul>
            <li class="selected">
              <a href="#">
	            <div class="shape-bg"><div class="shape-high"></div></div>
	            <p class="text-center">Haut</p>
              </a>
            </li>
            <li class="m-l-xs">
              <a href="#">
	            <div class="shape-bg"><div class="shape-wide"></div></div> 
	            <p class="text-center">Large</p>
              </a>
            </li>
          </ul>
          <div class="divider m-t-xlg"></div>
          <h6 class="m-t-xlg m-b-lg">Sélecteur d'emplacement:</h6>
          <div class="location-bg">
	        <div class="location-1 selected"></div>
	        <div class="location-2"></div>
	        <div class="location-3"></div>
	        <div class="location-4"></div>
	        <div class="location-5"></div>
          </div>
          </div>
          <div class="tab-pane" id="univers">univers</div>
          <div class="tab-pane" id="interface">interface</div>
          <div class="tab-pane" id="iframe">iframe</div>
        </div>
      </div>
    </header>
	</aside>
	<!-- /.aside -->
		
	{% endblock %}


	{% block templates %}

    {% endblock %}

	{% block bootstrap %}
	    {% autoescape false %}
	    <script type="text/javascript">
	        var root = '{{ path('lily_questions') }}';
	        {% if entreprise is defined %}
	        var entreprise = {{ entreprise | serialize | raw }};
	        {% endif %}
	    </script>
	    {% endautoescape %}
	{% endblock %}

</section>

{% endblock %}

{% block javascripts %}

{{ parent() }}

{% javascripts  'js/colorpicker/jquery.wheelcolorpicker.js' %}

  <script type="text/javascript" src="{{ asset_url }}"></script>
  
{% endjavascripts %}

{% endblock %}