{% extends "LilyBackOfficeBundle::layout.html.twig" %}

{% block stylesheets %}
	
  {{ parent() }}
	
  {% stylesheets 'css/vendor/wheelcolorpicker.css' filter='cssrewrite' %}
  
  <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
  
  {% endstylesheets %}

{% endblock %}

{% block body %}

<section class="hbox stretch">

	{% include "LilyBackOfficeBundle::menu.html.twig" %}

	{% block content %}
	<!-- .section -->
	<section class="bg-light lt hidden-xs avatar-content">
	  <ul class="padder clearfix">
        <li class="col-lg-2-4 col-md-2-4 m-t">
          <button class="btn btn-white btn-block humeur"><i class="icon-meh"></i> Neutre</button>
        </li>
        <li class="col-lg-2-4 col-md-2-4 m-t">
          <button class="btn btn-white btn-block humeur"><i class="icon-meh"></i> Content</button>
        </li>
        <li class="col-lg-2-4 col-md-2-4 m-t">
     	  <button class="btn btn-white btn-block humeur"><i class="icon-meh"></i> Sceptique</button>
        </li>
        <li class="col-lg-2-4 col-md-2-4 m-t">
          <button class="btn btn-white btn-block humeur"><i class="icon-meh"></i> Triste</button>
        </li>
        <li class="col-lg-2-4 col-md-2-4 m-t">
          <button class="btn btn-white btn-block humeur"><i class="icon-meh"></i> Enervé</button>
        </li>
      </ul>
	</section>
	<!-- /.section -->
	<!-- .aside -->
	<aside class="panel aside-xl">
	  <header class="panel-heading bg-light">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#avatar">Avatar</a></li>
          <li class=""><a href="#univers">Univers</a></li>
          <li class=""><a href="#interface">Interface</a></li>
          <li class=""><a href="#iframe">Iframe</a></li>
        </ul>
	  </header>
	  <div class="panel-body">
        <div class="tab-content">
          <div class="tab-pane active" id="avatar">
            <h6 class="font-semibold">Selection de l'avatar
	          <a class="pull-right btn btn-danger btn-sm text m-t-n-xs2 m-l-xs">Annuler</a>
	          <a class="pull-right btn btn-success btn-sm text m-t-n-xs2">Sauvegarder</a>
            </h6>
          <div class="divider m-t-xlg"></div>
          <ul>
              <li class="selected"></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ul>
          <div class="divider m-t-sm"></div>
            <h6 class="m-t-lg m-b-lg font-semibold">Biographie</h6>
          <div class="divider m-t-sm"></div>
	      <div class="form-group">
            <h6 class="font-normal">Nom</h6>
            <input type="text" class="form-control input-sm" placeholder="Lily">
          </div>
          <div class="form-group">
            <h6 class="font-normal">Réponse à la question</h6>
            <textarea class="form-control input-sm">Je m'appelle Lily, je suis un agent virtuel crée par Télécom Ecole de Management. Je suis à votre disposition pour répondre à toutes vos questions.</textarea>
          </div>
          </div>
          <div class="tab-pane" id="univers">univers</div>
          <div class="tab-pane" id="interface">interface</div>
          <div class="tab-pane" id="iframe">iframe</div>
        </div>
      </div>
    </header>
	</aside>
	<!-- /.aside -->
		
	{% endblock %}


	{% block templates %}

    {% endblock %}

	{% block bootstrap %}
	    {% autoescape false %}
	    <script type="text/javascript">
	        var root = '{{ path('lily_questions') }}';
	        {% if entreprise is defined %}
	        var entreprise = {{ entreprise | serialize | raw }};
	        {% endif %}
	    </script>
	    {% endautoescape %}
	{% endblock %}

</section>

{% endblock %}

{% block javascripts %}

{{ parent() }}

{% javascripts 'js/colorpicker/jquery.wheelcolorpicker.js' %}

  <script type="text/javascript" src="{{ asset_url }}"></script>
  
{% endjavascripts %}

{% endblock %}