{% extends "LilyBackOfficeBundle::layout.html.twig" %}

{% block stylesheets %}
	
  {{ parent() }}
	
  {% stylesheets 'css/wheelcolorpicker.css' filter='cssrewrite' %}
  
  <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
  
  {% endstylesheets %}

{% endblock %}

{% block body %}

<section class="hbox stretch">

	{% include "LilyBackOfficeBundle::menu.html.twig" %}

	{% block content %}
	<!-- .section -->
	<section class="bg-light lt hidden-xs interface-content text-center">
	  <div class="btn-group m-t-xlg">
	    <button type="button" class="btn btn-sm btn-white"><i class="icon-mobile-phone text-lg"></i>Phone</button>
	    <button type="button" class="btn btn-sm btn-white"><i class="icon-tablet text-lg"></i>Tablet</button>
	  </div>
	<!--  <label class="switch">
        <input type="checkbox">
        <span></span>
      </label> -->
	</section>
	<!-- /.section -->
	<!-- .aside -->
	<aside class="panel aside-xl">
	  <header class="panel-heading bg-light">
        <ul class="nav nav-tabs">
          <li class=""><a href="#avatar">Avatar</a></li>
          <li class=""><a href="#univers">Univers</a></li>
          <li class=""><a href="#interface">Interface</a></li>
          <li class="active"><a href="#iframe">Iframe</a></li>
        </ul>
	  </header>
	  <div class="panel-body">
        <div class="tab-content">
          <div class="tab-pane active" id="iframe">
            <h6 class="font-semibold">Sélections des couleurs
	          <a class="pull-right btn btn-danger btn-sm text m-t-n-xs2 m-l-xs">Annuler</a>
	          <a class="pull-right btn btn-success btn-sm text m-t-n-xs2">Sauvegarder</a>
            </h6>
            <div class="form-group m-t-xlg50">
              <small>Bloc Header</small>
              <input type="text"id="interface-couleur-header" style="background-color: #791352" value="#791352"></input>
            </div>
            <div class="form-group">
              <small>Bloc Footer</small>
              <input type="text"id="interface-couleur-footer" style="background-color: #5a5a5a" value="#5a5a5a"></input>
            </div>
          </div>
          <div class="tab-pane" id="univers">univers</div>
          <div class="tab-pane" id="interface">interface</div>
          <div class="tab-pane" id="iframe">iframe</div>
        </div>
      </div>
    </header>
	</aside>
	<!-- /.aside -->
		
	{% endblock %}


	{% block templates %}

    {% endblock %}

	{% block bootstrap %}
	    {% autoescape false %}
	    <script type="text/javascript">
	        var root = '{{ path('lily_questions') }}';
	        {% if entreprise is defined %}
	        var entreprise = {{ entreprise | serialize | raw }};
	        {% endif %}
	    </script>
	    {% endautoescape %}
	{% endblock %}

</section>

{% endblock %}

{% block javascripts %}

{{ parent() }}

{% javascripts  'js/colorpicker/jquery.wheelcolorpicker.js' %}

  <script type="text/javascript" src="{{ asset_url }}"></script>
  
{% endjavascripts %}

{% endblock %}