{% extends "LilyHomePageBundle:Fr:layout.html.twig" %}

{% block title %}Blog - SAIO{% endblock %}

{% block content %}

	<!--Lily-->
	<section id="actus" >

		<div class="wrapper">
			<h1>Vous trouverez ici une série d'articles au sujet de la relation client digitale et les actualités concernant SAIO.<br>N'hésitez pas à laisser un commentaire.</h1>
		</div>

	</section>

	<!--Actualités-->
	<section id="actus-actualites">

		<div class="wrapper">
			<div class="article">
				<div class="crop"><img src="{{ asset('images/home/supporter.jpg') }}"></div>
				<div class="content">
					<a href="{{ path('home_articles', {'id': 4}) }}"><h2>SAIO souhaite bonne chance à la France pour les huitièmes de finale du Mondial</h2></a>
					<p class="date">Publié le 30 juin 2014</p>
					<div class="tag">SAIO</div>
					<p>L'équipe de France jouera ce soir au Brésil son premier match couperet à 18h heure Française. SAIO et Lily se sont donc mis aux couleurs de cet évènement qui promet d'être riche en émotions.</p>
				</div>
			</div>
			<div class="article">
				<div class="crop"><img src="{{ asset('images/home/vt_team.jpg') }}"></div>			
				<div class="content">
					<a href="{{ path('home_articles', {'id': 3}) }}"><h2>SAIO représentera la France lors de l'édition 2014 du VT KnowledgeWorks</h2></a>
					<p class="date">Publié le 12 juin 2014</p>
					<div class="tag">SAIO</div>
					<p>C'est lors de la remise des prix de l'édition 2014 du Challenge Projets d'Entreprendre organisé par l'incubateur Télécom & Management Sudparis Entrepreneurs que SAIO a été sélectionnée pour participer au concours international organisé par l'universite Virginia Tech.</p>
				</div>
			</div>
			<div class="article">
				<div class="crop"><img src="{{ asset('images/home/ipad_woman.jpg') }}"></div>
				<div class="content">
					<a href="{{ path('home_articles', {'id': 2}) }}"><h2>Le live chat plèbiscité par 90% des conseillers client</h2></a>
					<p class="date">Publié le 6 juin 2014</p>
					<div class="tag">Relation client</div>
					<p>D'après une enquête réalisée pour iAdvize auprès de conseillers utilisateurs de live chat, 90% d'entre eux préfèrent utiliser cette solution plutôt que le téléphone et 67% pensent que la compréhension du besoin du visiteur est facilitée par ce type de solution.</p>
				</div>
			</div>
			<div class="article">
				<div class="crop"><img src="{{ asset('images/home/laptop_man.jpg') }}"></div>			
				<div class="content">
					<a href="{{ path('home_articles', {'id': 1}) }}"><h2>Les limites de l'expérience cross-canal sur le Web</h2></a>
					<p class="date">Publié le 29 mai 2014</p>
					<div class="tag">Relation client</div>
					<p>Malgré le développement de nombreuses solutions et la prise de conscience des entreprises de l'importance de fournir différents canaux de contact pour leurs clients, une étude d'Eptica montre que les réponses apportées sur chaque canal manquent encore de cohérence.</p>
				</div>
			</div>
			<ul>
				<li><span>1</span></li>
				<!--<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>-->
			</ul>
		</div>

	</section>

{% endblock %}