{% extends "LilyHomePageBundle:Fr:layout.html.twig" %}

{% block title %}Contact - SAIO{% endblock %}

{% block content %}

	<!--Contact-->
	<section id="contact" >

		<div class="wrapper">
			<h1>Notre solution vous intéresse ? Besoin d'informations supplémentaires ? N’hésitez pas à nous contacter, nous vous répondrons dans les plus brefs délais !</h1>
		</div>

	</section>

	<!--Coordonnees-->
	<section id="coordonnees">

		<div class="wrapper" id="coordonnees-wrapper">
			<iframe id="gmaps" src='http://a.tiles.mapbox.com/v3/nclsmitchell.he346077/attribution,zoompan,geocoder,share.html'></iframe>
			<div class="content">
				<h1>Nos coordonnées</h1>
				<div class="adresse">
					<img src="{{ asset('images/home/icon-adresse.png') }}" alt="Adresse postale">
					<h2>Adresse postale :</h2>
					<p>SAIO SAS<br>9, rue Charles Fourier<br>91 000 Evry</p>
				</div>
				<div class="phone">
					<img src="{{ asset('images/home/icon-phone.png') }}" alt="Téléphone">
					<h2>Téléphone :</h2>
					<p>+33 1 60 76 69 71</p>
				</div>
				<div class="mail">
					<img src="{{ asset('images/home/icon-mail.png') }}" alt="Adresse mail">
					<h2>Adresse mail :</h2>
					<p>contact@saio.fr</p>
				</div>
				<div class="social">
					<h1>Social</h1>
					<a href="https://twitter.com/SAIO_fr" target="_blank"><img src="{{ asset('images/home/icon-twitter.jpg') }}" alt="Twitter"></a>
					<a href="https://www.facebook.com/saio.fr" target="_blank"><img src="{{ asset('images/home/icon-facebook.jpg') }}" alt="Facebook"></a>
					<a href="https://plus.google.com/u/0/b/118034732981210342317/118034732981210342317/posts" target="_blank"><img src="{{ asset('images/home/icon-google+.jpg') }}" alt="Google +"></a>
					<a href="https://www.linkedin.com/company/saio" target="_blank"><img src="{{ asset('images/home/icon-linkedin.jpg') }}" alt="Linkedin"></a>
					<a href="http://www.viadeo.com/fr/company/saio" target="_blank"><img src="{{ asset('images/home/icon-viadeo.jpg') }}" alt="Viadeo"></a>
					<a class="skype" href="skype:live:jeanclaude.giron_1?call"><img src="{{ asset('images/home/icon-skype.jpg') }}" alt="Skype"></a>
				</div>
			</div>
			<div class="newsletter">
				<h1>Recevez notre newsletter</h1>
				<input type="text" name="mail" placeholder="Votre adresse e-mail" size="30"/>
				<a href="#" class="button">Inscription</a>
			</div>
			<form class="contact-us" method="post" action="">
				<h1>Contactez-nous</h1>
				<input type="text" name="name" placeholder="Votre nom" size="30"/>
				<input type="text" name="surname" placeholder="Votre prénom" size="30" class="last"/>
				<input type="text" name="mail" placeholder="Votre adresse e-mail" size="30"/>
				<input type="text" name="enterprise" placeholder="Votre entreprise" size="30" class="last"/>
				<input type="text" name="object" placeholder="Objet de votre message" size="30"/>
				<textarea name="message" placeholder="Votre message" class="message last"></textarea>
				<div class="send">
					<input class="selector activated" type="checkbox">
					<p>Inscrivez-vous à notre newsletter pour recevoir nos offres et nos articles</p>
					<input class="button" type="submit" value="Envoyer">
				</div>
			</form>
		</div>

	</section>

{% endblock %}