<!--Footer -->
<footer>

	<div class="wrapper">
		<div class="footer_content">
			<div id="saio">
				<h3>SAIO</h3>
				<ul>
					<li><a href="{{ path('home_recruitment') }}">{{ 'Recrutement'|trans }}</a></li>
					<li><a href="{{ path('home_blog') }}">{{ 'Blog'|trans }}</a></li>
					<li><a href="{{ path('home_disclaimer')}}">{{ 'Mentions légales'|trans }}</a></li>
				</ul>
			</div>
			<div>
				<h3>{{ 'Contactez-nous'|trans }}</h3>
				<p>SAIO SAS<br>44, rue Cauchy 94110 Arcueil<br>+33 1 55 01 04 37<br>contact@saio.fr</p>
			</div>
			<!--<div id="second">+33 1 60 76 69 71<br>contact@saio.fr</div>-->
			<div class="last">
				<h3>{{ 'Social'|trans }}</h3>
				<div>
					<a href="https://twitter.com/SAIO_fr" target="_blank"><img src="{{ asset('images/home/icon-twitter.png') }}" alt="Twitter"></a>
					<a href="https://www.facebook.com/saio.fr" target="_blank"><img src="{{ asset('images/home/icon-facebook.png') }}" alt="Facebook"></a>
					<a href="https://plus.google.com/u/0/b/118034732981210342317/118034732981210342317/posts" target="_blank"><img src="{{ asset('images/home/icon-google+.png') }}" alt="Google +"></a>
					<a href="https://www.linkedin.com/company/saio" target="_blank"><img src="{{ asset('images/home/icon-linkedin.png') }}" alt="Linkedin"></a>
					<a href="http://www.viadeo.com/fr/company/saio" target="_blank"><img src="{{ asset('images/home/icon-viadeo.png') }}" alt="Viadeo"></a>
					<a href="skype:live:jeanclaude.giron_1?call"><img src="{{ asset('images/home/icon-skype.png') }}" alt="Skype"></a>
				</div>
			</div>
			<!--<div class="last_last">
				<h3>Newsletter</h3>
				<input type="text" name="mail" id="mail" placeholder="Votre adresse e-mail" size="30" />
				<a href="#" class="button">Inscription</a>
			</div>-->
		</div>
	</div>

	<div class="copyright">
		<div class="wrapper">
			<p>{{ 'Copyright © SAIO 2014, tous droits réservés'|trans }}</p>
			<span>
				{{ 'Langues :'|trans }} <a href="{{ path(app.request.attributes.get('_route'), {_locale:'fr'}) }}" class="{% if app.request.attributes.get('_locale') == 'fr' %}lang_active{% endif %}">français</a> / <a href="{{ path(app.request.attributes.get('_route'), {_locale:'en'}) }}" class="{% if app.request.attributes.get('_locale') == 'en' %}lang_active{% endif %}">english</a><!-- / <a href="#">español</a>-->
			</span>
		</div>
	</div>

</footer>