<header id="skrollr-body">
    		<div class="metanav">
    			<div class="wrapper">
    				<ul id="metanav">
    					<li id="selector">
    						<a>Français<!--<i class="arrow"></i>--></a>
    						<!--<ul id="lang_select">
    							<li class="lang_active"><a href="#">Français</a></li>
    							<li><a href="#">English</a></li>
    							<li><a href="#">Español</a></li>
    						</ul>-->
    					</li>
    					<li><a href="http://saio.fr/login" target="_blank">S'identifier</a></li>
    				</ul>
    			</div>
    		</div>
    		<nav>
    			<div class="wrapper">
    				<a href="{{ path('home_index') }}"><img src="{{ asset('images/home/logo-saio-black.png') }}" alt="logo SAIO" class="logo"></a>
    				<ul class="link_nav">
    					<li>
    						<a href="{{ path('home_index') }}" class="{% if app.request.attributes.get('_route') == 'home_index' %}active{% endif %}">Notre solution</a>
    						<div class="roll"></div>
    					</li>
    					<li>
    						<a href="{{ path('home_lily') }}" id="menu_produits" style="display: none;">produits</a>
    						<div class="roll"></div>
    					</li>
    					<li>
    						<a href="{{ path('home_references') }}" id="menu_references" style="display: none;">références</a>
    						<div class="roll"></div>
    						<ul id="roll_references">
    							<li><a href="{{ path('home_references') }}">Nos références</a></li>
    							<li class="separation"></li>
    							<li><a href="{{ path('home_case_studies') }}">études de cas</a></li>
    						</ul>
    					</li>
    					<li>
    						<a href="{{ path('home_blog') }}" id="menu_actus" class="{% if app.request.attributes.get('_route') == 'home_blog' %}active{% endif %}">blog</a>
    						<div class="roll"></div>
    					</li>
    					<li>
    						<a href="{{ path('home_team') }}" class="{% if app.request.attributes.get('_route') == 'home_team' %}active{% endif %}">société</a>
    						<div class="roll"></div>
    					</li>
    					<li>
    						<a href="{{ path('home_contact') }} " class="{% if app.request.attributes.get('_route') == 'home_contact' %}active{% endif %}">contact</a>
    						<div class="roll"></div>
    					</li>
    					<li><a href="mailto:contact@saio.fr?Subject=Demande de test&amp;body=Bonjour,%0A%0AJe souhaiterais effectuer un test de votre solution sur mon site internet. Pourriez-vous me contacter afin que nous puissions échanger à ce sujet ?%0A%0AJe vous remercie par avance.%0A%0ACordialement,%0A%0A" class="button">demande de test</a></li>
    				</ul>
    			</div>
    		</nav><!-- Fin de la navigation-->
    	</header><!-- fin du header-->

    	<div class="header_mobile">
    		<div class="content">
    			<img src="{{ asset('images/home/icon-menu.png') }}" alt="Menu" class="icon_menu">
    			<a href="{{ path('home_index') }}"><img src="{{ asset('images/home/logo-saio-black.png') }}" alt="logo SAIO" class="logo"></a>
    		</div>
    		<div class="menu">
    			<ul id="menu_select">
    				<li class="first">
    					<a href="{{ path('home_index') }}" class="{% if app.request.attributes.get('_route') == 'home_index' %}active{% endif %}">Notre solution</a>
    				</li>
    				<li style="display: none;">
    					<a href="{{ path('home_lily') }}">produits</a>
    				</li>
    				<li style="display: none;">
    					<a href="{{ path('home_references') }}">références</a>
    				</li>
    				<li>
    					<a href="{{ path('home_blog') }}" class="{% if app.request.attributes.get('_route') == 'home_blog' %}active{% endif %}">blog</a>
    				</li>
    				<li>
    					<a href="{{ path('home_team') }} " class="{% if app.request.attributes.get('_route') == 'home_team' %}active{% endif %}">société</a>
    				</li>
    				<li>
    					<a href="{{ path('home_contact') }} " class="{% if app.request.attributes.get('_route') == 'home_contact' %}active{% endif %}">contact</a>
    				</li>
    			</ul>
    		</div>
    	</div>
