{% extends "LilyHomePageBundle:Fr:layout.html.twig" %}

{% block title %}Développez votre relation client digitale - SAIO{% endblock %}

{% block content %}

<!--Home-->
<section id="home">

	<div class="wrapper">
		<div>
			<h1>Améliorez votre relation client digitale grâce à l’alliance du meilleur des ressources humaines et virtuelles</h1>
<<<<<<< HEAD
			<p>SAIO propose une plateforme, humanisée par Lily, notre assistante virtuelle, qui vous permettra d’interagir avec  vos consommateurs et prospects 24h/24, 7j/7  et d’optimiser l’efficacité de votre équipe de support.</p>
=======
			<p>SAIO édite des logiciels de Q-management aidant les entreprises à améliorer l'accueil et l'accompagnement de leurs clients et prospects sur le web et en magasins.</p>
>>>>>>> 6d8921e0dc39e704f68ae64b2a215c463843931b
			<!--<a href="#video" class="button no-ie"><img src="images/home/icon-play.svg" class="play" alt="play">Lire la vidéo</a>
		<!--[if lt IE 9]>
    <a href="#video" class="button" style="display: none;"><img src="images/home/icon-play.png" class="play" alt="play">Lire la vidéo</a>
    <![endif]-->
        </div>
        <a href="#anchor-chiffres"><img src="{{ asset('images/home/arrow-down-home.png') }}" alt="arrow-down-home"></a>
    </div>

</section>

<!--Chiffres clé-->
<section id="chiffres-cle">

	<a id="anchor-chiffres"></a>
	<div class="wrapper parallax">
		<a href="#discover"></a>
		<h1 style="display: none;">Arguments clés</h1>
		<div class="content">
			<div>
				<img src="{{ asset('images/home/icon-thumb.png') }}" alt="Améliorer">
				<p>Améliorez<br>l'expérience client</p>	
			</div>
			<div>
				<img src="{{ asset('images/home/icon-piggy.png') }}" alt="Réduire">
				<p>Réduisez vos coûts<br>de support</p>	
			</div>
			<div>
				<img src="{{ asset('images/home/icon-optimize.png') }}" alt="Optimiser">
				<p>Optimisez vos<br>ressources internes</p>	
			</div>
			<div>
				<img src="{{ asset('images/home/icon-performance.png') }}" alt="Réponse">
				<p>Mesurez <br>vos performances</p>
			</div>
			<div>
				<img src="{{ asset('images/home/icon-listen.png') }}" alt="Ecouter">
				<p>écoutez<br>la voix client</p>	
			</div>
			<div>
				<img src="{{ asset('images/home/icon-human.png') }}" alt="Humaniser">
				<p>Humanisez votre<br>relation digitale</p>
			</div>
		</div>
	</div>
	<a href="#anchor-solution"><img src="{{ asset('images/home/arrow-down.jpg') }}" alt="arrow-down"></a>

</section>

<!--Solution-->
<div id="image_1">
</div>

<section id="solution">

	<a id="anchor-solution"></a>
	<div class="wrapper">
		<div class="content">
			<h1>Découvrez notre solution</h1>
			<p>Nous proposons une solution logicielle innovante vous permettant de communiquer en mode one to one avec vos clients et prospects via une boîte de dialogue disponible sur tous vos médias web.<br><br>Ce dialogue est automatisé lorsque le cas est simple et fréquent grâce à l’agent virtuel. Quand le cas est complexe l’agent virtuel redirige son interlocuteur vers votre équipe de support qui prend le relais.<br><br>L’interlocuteur reste libre dans le choix du canal de communication et peut escalader via chat, mail, téléphone ou encore web call-back.</p>
		</div>
		<a href="#anchor-fonction"><img src="{{ asset('images/home/arrow-down.jpg') }}" alt="arrow-down"></a>
	</div>


</section>

<div id="image_2">
</div>

<section id="fonction">

	<a id="anchor-fonction"></a>
	<div class="wrapper">
		<h1>Comment ça marche ?</h1>
		<div class="steps first-step">
			<span class="number">1.</span>
			<p>Vos clients et prospects accèdent à la plateforme</p>
		</div>
		<div class="supports">
			<span class="first-support">Site internet</span>
			<span class="second-support">Application</span>
			<span class="third-support">Borne physique</span>
			<span class="forth-support">Page facebook</span>
		</div>
		<div class="steps second-step">
			<span class="number">2.</span>
			<p>L’agent virtuel accueille et répond aux questions simples et redondantes<br>Il peut également proposer des enquêtes de satisfaction</p>
		</div>
		<div class="auto">
			<span class="first-auto">Réponses automatisées</span>
			<span class="second-auto">Enquêtes de satisfaction</span>
		</div>
		<div class="steps third-step">
			<span class="number">3.</span>
			<p>Quand c’est nécéssaire, l’agent virtuel redirige vers vos équipes de support</p>
			<span class="climb">Escalade vers<br>vos équipes de support</span>
			<span class="supports">Live chat, web-conférence, web call-back, mail, téléphone...</span>
			<p class="bullets">Solution 100% clé en main<br>Administration des différents canaux de communication<br>Statistiques d’utilisation<br>Indicateurs de performance</p>
			<span class="admin">Admin</span>
		</div>
		<img src="{{ asset('images/home/schema-site.png') }}" alt="schema">
		<a href="#anchor-reasons"><img src="{{ asset('images/home/arrow-down.jpg') }}" alt="arrow-down"></a>
	</div>

</section>

<div id="image_3">
</div>

<!--Raisons-->
<section id="reasons">

	<a id="anchor-reasons"></a>
	<div class="wrapper">
		<h1>Quelques raisons de nous choisir</h1>
		<div class="content">
			<div>
				<img src="{{ asset('images/home/icon-people.png') }}" alt="Attractivité et interactivité">
				<h2>Utilisateurs</h2>
				<p>Amélioration de l'expérience</p><p>Accessibilité optimale</p><p class="last">Adaptation aux nouveaux usages</p>	
			</div>
			<div>
				<img src="{{ asset('images/home/icon-factory.png') }}" alt="Réduction des coûts">
				<h2>Entreprises</h2>
				<p>Réduction de vos coûts de support</p><p>Amélioration de votre productivité</p><p class="last">Mesure de vos performances</p>	
			</div>
			<div>
				<img src="{{ asset('images/home/icon-gears.png') }}" alt="admin">
				<h2>Spécificités</h2>
				<p>Solution modulaire et interopérable</p><p>Solution simple d'administration</p><p class="last">Pas d'installation logicielle lourde</p>
			</div>
		</div>
		<!--<a href="{{ path('home_contact') }}" class="button">Contactez-nous</a>-->
	</div>

</section>

{% endblock %}