{% extends "LilyHomePageBundle:Fr:layout.html.twig" %}

{% block title %}Développez votre relation client digitale - SAIO{% endblock %}

{% block content %}

<!--Home-->
<section id="home">

	<div class="wrapper">
		<div>
			<h1>Améliorez l’accueil et l’accompagnement<br>de vos clients et prospects sur le web<br>et en magasin</h1>
			<p>SAIO édite des solutions innovantes de Q-management vous permettant d’améliorer votre satisfaction client et la productivité de vos ressources humaines tout en réduisant vos coûts de support.</p>
			<!--<a href="#video" class="button no-ie"><img src="images/home/icon-play.svg" class="play" alt="play">Lire la vidéo</a>
		<!--[if lt IE 9]>
    <a href="#video" class="button" style="display: none;"><img src="images/home/icon-play.png" class="play" alt="play">Lire la vidéo</a>
    <![endif]-->
        </div>
        <a href="#anchor-chiffres"><img src="{{ asset('images/home/arrow-down-home.png') }}" alt="arrow-down-home"></a>
    </div>

</section>

<!--Chiffres clé-->
<section id="chiffres-cle">

	<a id="anchor-chiffres"></a>
	<div class="wrapper parallax">
		<a href="#discover"></a>
		<h1 style="display: none;">Arguments clés</h1>
		<div class="content">
			<div>
				<img src="{{ asset('images/home/icon-piggy.png') }}" alt="Améliorer">
				<p>Réduisez vos coûts<br>de support de 25%</p>	
			</div>
			<div>
				<img src="{{ asset('images/home/icon-piggy.png') }}" alt="Réduire">
				<p>Optimisez vos ressources<br>internes de 30%</p>	
			</div>
			<div>
				<img src="{{ asset('images/home/icon-optimize.png') }}" alt="Optimiser">
				<p>Augmentez vos<br>ventes de 15%</p>	
			</div>
			<div>
				<img src="{{ asset('images/home/icon-performance.png') }}" alt="Réponse">
				<p>Accompagnez vos<br>client 24/7</p>
			</div>
			<div>
				<img src="{{ asset('images/home/icon-performance.png') }}" alt="Ecouter">
				<p>Mesurez<br>vos performances</p>	
			</div>
			<div>
				<img src="{{ asset('images/home/icon-human.png') }}" alt="Humaniser">
				<p>Humanisez votre<br>relation digitale</p>
			</div>
		</div>
	</div>
	<a href="#anchor-solution"><img src="{{ asset('images/home/arrow-down.jpg') }}" alt="arrow-down"></a>

</section>

<!--Solution-->
<div id="image_1">
</div>

<section id="solution">

	<a id="anchor-solution"></a>
	<div class="wrapper">
		<div class="content">
			<h1>Découvrez notre solution</h1>
			<p>Nous proposons une plateforme digitale qui connecte vos clients et votre équipe de support via une boîte de dialogue disponible sur tous vos médias : site internet, application mobile, page Facebook et borne physique en magasin. Un agent virtuel sert d’intermédiaire. C’est un guide pour les utilisateurs et un filtre pourvotre entreprise.<br><br>Grâce à un moteur de reconnaissance sémantique, l’agent virtuel permet de capter les requêtes simples et redondantes et ainsi d’automatiser le dialogue dans la mesure du possible.<br>Quand le cas est complexe, il redirige l’utilisateur vers le bon interlocuteur de votre équipe de support.<br><br>L’utilisateur reste libre dans le choix du canal de communication et peut escalader via live chat, mail, téléphone ou encore prendre directement rendez-vous.</p>
		</div>
		<a href="#anchor-fonction"><img src="{{ asset('images/home/arrow-down.jpg') }}" alt="arrow-down"></a>
	</div>


</section>

<div id="image_2">
</div>

<section id="fonction">

	<a id="anchor-fonction"></a>
	<div class="wrapper">
		<h1>Comment ça marche ?</h1>
		<div class="steps first-step">
			<span class="number">1.</span>
			<p>Vos clients et prospects accèdent à la plateforme</p>
		</div>
		<div class="supports">
			<span class="first-support">Site internet</span>
			<span class="second-support">Application</span>
			<span class="third-support">Borne physique</span>
			<span class="forth-support">Page facebook</span>
		</div>
		<div class="steps second-step">
			<span class="number">2.</span>
			<p>L’agent virtuel accueille et répond aux questions simples et redondantes<br>Il peut également proposer des enquêtes de satisfaction</p>
		</div>
		<div class="auto">
			<span class="first-auto">Réponses automatisées</span>
			<span class="second-auto">Enquêtes de satisfaction</span>
		</div>
		<div class="steps third-step">
			<span class="number">3.</span>
			<p>Quand c’est nécéssaire, l’agent virtuel redirige vers vos équipes de support</p>
			<span class="climb">Escalade vers<br>vos équipes de support</span>
			<span class="supports">Live chat, web-conférence, web call-back, mail, téléphone...</span>
			<p class="bullets">Solution 100% clé en main<br>Administration des différents canaux de communication<br>Statistiques d’utilisation<br>Indicateurs de performance</p>
			<span class="admin">Admin</span>
		</div>
		<img src="{{ asset('images/home/schema-site.png') }}" alt="schema">
		<a href="#anchor-reasons"><img src="{{ asset('images/home/arrow-down.jpg') }}" alt="arrow-down"></a>
	</div>

</section>

<div id="image_3">
</div>

<!--Raisons-->
<section id="reasons">

	<a id="anchor-reasons"></a>
	<div class="wrapper">
		<h1>Ce qui nous différencie...</h1>
		<div class="content">
			<div>
				<img src="{{ asset('images/home/icon-people.png') }}" alt="Attractivité et interactivité">
				<h2>Une solution complète</h2>
				<p>Notre solution est «tout-en-un» et vous permet d’adopter une stratégie multi-canal et cross-canal en toute simplicité.</p>	
			</div>
			<div>
				<img src="{{ asset('images/home/icon-factory.png') }}" alt="Réduction des coûts">
				<h2>Une solution multi-support</h2>
				<p>Notre solution est disponible sur n’importe quel type de plateforme. Le seul prérequis est une connexion internet.</p>	
			</div>
			<div>
				<img src="{{ asset('images/home/icon-gears.png') }}" alt="admin">
				<h2>Un outil de statistiques</h2>
				<p>Vous accédez à des statistiques qui vous permettent de capter les attentes de vos clients et de contrôler l’efficacité de votre service.</p>
			</div>
		</div>
		<p>Mais notre solution c’est également une solution simple d’installation, 100% clé en main, modulaire, interopérable, entièrement personnalisable... Pour plus d’informations, n’hésitez pas à nous contacter.</p>
	</div>

</section>

{% endblock %}