{% extends "LilyHomePageBundle:fr:layout.html.twig" %}

{% block title %}{{ 'Recrutement - SAIO'|trans }}{% endblock %}

{% block content %}

	<!--Recrutement-->
	<section id="recruitment" >

		<div class="wrapper">
			<h1>{{ 'SAIO recrute ! Consultez nos offres et n\'hésitez pas à nous contacter pour postuler, nous vous répondrons dans les plus brefs délais !'|trans }}</h1>
		</div>

	</section>

	<section id="dev_back">

		<div class="wrapper">
			<h1>{{ 'Développeur Symfony2 H/F'|trans }}</h1>
			<div class="content">
				<h2>{{ 'le poste'|trans }}</h2>
				<p>{{ 'Au sein de notre start-up, sous la direction du directeur technique, vous serez amené à travailler directement sur le développement de nos produits. Vos missions seront variées :'|trans }}</p>
				<ul>
					<li>{{ 'Développement back-end'|trans }}</li>
					<li>{{ 'Développement et amélioration de l\’interface graphique existante.'|trans }}</li>
					<li>{{ 'Amélioration du processus d\’intégration et plus généralement la performance des interfaces.'|trans }}</li>
					<li>{{ 'Développement des différentes batteries de test.'|trans }}</li>
					<li>{{ 'Proposition sur les évolutions à mettre en oeuvre.'|trans }}</li>
					<li>{{ 'Apport à la vision technologique future de l’entreprise.'|trans }}</li>
				</ul>
				<h2>{{ 'profil recherché'|trans }}</h2>
				<p>{{ 'Nous recherchons un développeur avec au moins 2 ans d\’expérience ayant des connaissances solides en PHP, et plus particulièrement sur le framework Symfony2. La maîtrise du développement web front-end est un plus celle d’un framework Javascript (Backbone JS) constitue un avantage apprécié.'|trans }}</p>
				<h2>{{ 'rémunération'|trans }}</h2>
				<p>{{ 'La rémunération est à définir selon le profil et l\’expérience du candidat. Le poste est un CDI à temps plein.'|trans }}</p>
				<h2>{{ 'pour postuler'|trans }}</h2>
				<p>{{ 'Envoyer un mail à pierre.peyches@saio.fr avec CV et lettre de motivation. La présentation d’un portefolio ou d\’exemples de réalisations est fortement encouragée.'|trans }}</p>
				<h2>{{ 'pourquoi saio'|trans }}</h2>
				<p>{{ 'SAIO est une start-up innovante et jeune (moyenne d\’âge inférieure à 25 ans). Notre produit est en constante évolution, vous aurez donc la possibilité de travailler sur les dernières technologies web.<br><br>Notre start-up en est à son début, les possibilités d\’évolutions sont donc grandes.'|trans }}</p>
				<h2>{{ 'où nous trouver'|trans }}</h2>
				<p>{{ 'Nos bureaux sont au sein de l\’incubateur de Télécom & Management SudParis Entrepreneurs, situé au 9 rue Charles Fourier à Evry.<br><br>Nous sommes situés à 5 minutes de la station Le Bras de Fer sur la ligne D du RER, à 40 minutes de Gare de Lyon. Nous comptons déménager nos locaux à Arcueil dans le courant du premier trimestre 2015, ce qui nous situera à 15 minutes du centre de Paris sur le RER B.'|trans }}</p>
				<a href="mailto:pierre.peyches@saio.fr?Subject=[Recrutement] Offre développeur Symfony2&amp;" class="button">{{ 'postuler'|trans }}</a>
			</div>
		</div>

	</section>

{% endblock %}