{% extends "LilyHomePageBundle:Fr:layout.html.twig" %}

{% block title %}Société - SAIO{% endblock %}

{% block content %}

	<!--Qui sommes-nous-->
	<section id="presentation" >

		<div class="wrapper">
			<h1><strong>Notre objectif :</strong> développer et améliorer la qualité de votre relation client digitale grâce à des outils de communication innovants, simples d’utilisation et d’administration.</h1>
		</div>

	</section>

	<!--Notre vision-->
	<section id="vision">

		<div class="wrapper">
			<div class="content">
				<h1>Une solution adaptée aux nouveaux usages</h1>
				<p>Début 2014, au bout d’un an de recherche et développement, nous créons SAIO, entreprise éditrice de logiciels, société détenue à 100% par ses fondateurs. Nous sommes actuellement soutenus par l’incubateur Telecom & Management SudParis qui accompagne les PME innovantes à fort potentiel et par Scientipôle Initiative.<br><br>Nous sommes partis d’un constat simple : nos habitudes de consommation ont évoluées. L’usage du Smartphone et de la tablette tactile font désormais partie intégrante du quotidien des Français.<br><br>C’est un fait, la population devient de plus en plus mobile. En 2013, 55% des internautes consultent l’Internet sur leur Smartphone/Tablette et on prévoit qu’en 2015, ce pourcentage passe à 74%. Cette révolution digitale a modifié́ les comportements. L’utilisateur a désormais l’habitude d’accéder immédiatement, en toute simplicité́ et où qu’il soit, à l’information.<br><br>Ce besoin d’immédiateté́ a considérablement changé la vision que les consommateurs ont du service client. En effet, le consommateur souhaite pouvoir joindre, via le canal de son choix et à toute heure son service client. Le temps de réponse aux demandes ne doit pas excéder 3 minutes. Les consommateurs souhaitent ainsi vivre une expérience simple et fluide quel que soit le canal qu’ils utilisent.<br><br>C’est pour cela que nous avons imaginé une plateforme de service client qui vous aidera à répondre à ces nouveaux usages.</p>
			</div>
			<div class="col_droite"><img src="{{ asset('images/home/icon-quote-in.svg') }}" class="quote-in no-ie" alt="Quote">
				<!--[if lt IE 9]>
        		<img src="images/home/icon-quote-in.png" class="quote-in" alt="quote">
        <![endif]-->
        		<p>Nous sommes convaincus que le plus important dans une solution est sa simplicité d’utilisation.<br><br>C’est pourquoi nous faisons tout particulièrement attention à l’ergonomie et au design de nos solutions afin que vos clients et vous-même puissiez les utiliser dans un confort optimal.</p>
        		<img src="{{ asset('images/home/icon-quote-out.svg') }}" class="quote-out no-ie" alt="Quote">
        		<p class="sign">Marina Lostan, CEO de SAIO</p>
				<!--[if lt IE 9]>
        <img src="images/home/icon-quote-out.png" class="quote-out" alt="quote">
        <![endif]-->
    		</div>
		</div>

	</section>

	<!--Partenaires-->
	<section id="partners">

		<div class="wrapper">
			<img src="{{ asset('images/home/logo-incubateur.png') }}" alt="Incubateur TMSP">
			<!--<img src="{{ asset('images/home/logo-scientipole.png') }}" alt="Scientipôle Initiative">-->
			<img src="{{ asset('images/home/logo-ile-de-france.png') }}" alt="Région Île de France">
			<img src="{{ asset('images/home/logo-essonne.png') }}" alt="Département de l'Essonne" class="last">
		</div>

	</section>

	<!--Equipe-->
	<section id="team">

		<div class="wrapper">
			<h1>L'équipe fondatrice</h1>
			<div class="content marina">
				<img src="{{ asset('images/home/marina.png') }}" alt="Marina">
				<div class="bio">
					<div class="name">
						<h2>Marina LOSTAN</h2>
						<p class="poste">CEO</p>
					</div>
					<ul>
						<li class="linkedin"><a href="https://fr.linkedin.com/pub/marina-lostan/78/796/87a" target="_blank"><img src="{{ asset('images/home/icon-linkedin.jpg') }}" alt="Linkedin"></a></li>
						<li><a href="http://fr.viadeo.com/en/profile/marina.lostan" target="_blank"><img src="{{ asset('images/home/icon-viadeo.jpg') }}" alt="Viadeo"></a></li>
					</ul>
				</div>
			</div>
			<div class="content jean-claude">
				<img src="{{ asset('images/home/jc.png') }}" alt="Jean-Claude">
				<div class="bio">
					<div class="name">
						<h2>Jean-Claude GIRON</h2>
						<p class="poste">Directeur Commercial</p>
					</div>
					<ul>
						<li class="linkedin"><a href="https://www.linkedin.com/pub/jean-claude-giron/30/545/868" target="_blank"><img src="{{ asset('images/home/icon-linkedin.jpg') }}" alt="Linkedin"></a></li>
						<li><a href="http://fr.viadeo.com/fr/profile/jean-claude.giron1" target="_blank"><img src="{{ asset('images/home/icon-viadeo.jpg') }}" alt="Viadeo"></a></li>
					</ul>
				</div>
			</div>
			<div class="content nicolas">
				<img src="{{ asset('images/home/nicolas.png') }}" alt="Nicolas">
				<div class="bio">
					<div class="name">
						<h2>Nicolas MITCHELL</h2>
						<p class="poste">Directeur Communication</p>
					</div>
					<ul>
						<li class="linkedin"><a href="https://www.linkedin.com/pub/nicolas-mitchell/35/650/b48" target="_blank"><img src="{{ asset('images/home/icon-linkedin.jpg') }}" alt="Linkedin"></a></li>
						<li><a href="http://fr.viadeo.com/fr/profile/nicolas.mitchell" target="_blank"><img src="{{ asset('images/home/icon-viadeo.jpg') }}" alt="Viadeo"></a></li>
					</ul>
				</div>
			</div>
			<div class="content pierre">
				<img src="{{ asset('images/home/pierre.png') }}" alt="Pierre">
				<div class="bio">
					<div class="name">
						<h2>Pierre PEYCH&#x00C8S</h2>
						<p class="poste">Directeur Front-End</p>
					</div>
					<ul>
						<li class="linkedin"><a href="https://fr.linkedin.com/pub/pierre-peychès/65/b88/733" target="_blank"><img src="{{ asset('images/home/icon-linkedin.jpg') }}" alt="Linkedin"></a></li>
						<li><a href="http://fr.viadeo.com/fr/profile/pierre.peychès" target="_blank"><img src="{{ asset('images/home/icon-viadeo.jpg') }}" alt="Viadeo"></a></li>
					</ul>
				</div>
			</div>
			<div class="content raphael">
				<img src="{{ asset('images/home/raphael.png') }}" alt="Raphael">
				<div class="bio">
					<div class="name">
						<h2>Raphaël SIMON</h2>
						<p class="poste">Directeur Back-End</p>
					</div>
					<ul>
						<li class="linkedin"><a href="https://fr.linkedin.com/pub/raphael-simon/5b/352/68b" target="_blank"><img src="{{ asset('images/home/icon-linkedin.jpg') }}" alt="Linkedin"></a></li>
						<li><a href="#" target="_blank"><img src="{{ asset('images/home/icon-viadeo.jpg') }}" alt="Viadeo"></a></li>
					</ul>
				</div>
			</div>
		</div>

	</section>

{% endblock %}