{% extends "LilyBackOfficeBundle::layout.html.twig" %}

{% block stylesheets %} 	   

{{ parent() }} 	   

{% stylesheets 'css/backoffice/statistics.css' 'js/daterangepicker/daterangepicker.css' filter='cssrewrite' output='css/compiled/statistics.css' %}      
<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />     

{% endstylesheets %} 

{% endblock %}

{% block body %} 

<section class="hbox stretch">

{% include "LilyBackOfficeBundle::menu.html.twig" with {'user': 'user'}  %}

	{% block content %}
	<!-- .vbox -->
    <section id="statistics">
      <section class="vbox">        
        
		<header class="header bg-dark bg-gradient">
		  <ul id="statistics-nav" class="nav nav-tabs">
		    <li class="usage-nav active"><a href="#usage">Utilisation</a></li>
		    {% if (app.user.enterprise.avi) %}
		    <li class="avi-nav"><a href="#avi">Avatar</a></li>
		    {% endif %}
		    {% if (app.user.enterprise.chat) %}
		    <li class="chat-nav"><a href="#chat">Chat</a></li>
		    {% endif %}
		    <li class="users-nav"><a href="#users">Opérateurs</a></li>
		  </ul>
		</header>    
        
        <section class="scrollable">
	  	  <div class="wrapper">
			<div id="statistics-row" class="row"></div>
	      </div>
		</section>

      </section>
    </section>   

	{% endblock %}

</section>

	{% block templates %}
	<!-- L'appel des différents scripts de vue -->
	<script type="text/template" id="usage">
        {% include 'LilyBackOfficeBundle:Statistics:usage.html.twig' %}
    </script>
	<script type="text/template" id="graph-usage">
        {% include 'LilyBackOfficeBundle:Statistics:graph-usage.html.twig' %}
    </script>
    <script type="text/template" id="graph-usage-footer">
        {% include 'LilyBackOfficeBundle:Statistics:graph-usage-footer.html.twig' %}
    </script>
	<script type="text/template" id="avi">
        {% include 'LilyBackOfficeBundle:Statistics:avi.html.twig' with {'categories': categories} %}
    </script>
    <script type="text/template" id="graph-avi">
        {% include 'LilyBackOfficeBundle:Statistics:graph-avi.html.twig' %}
    </script>
    <script type="text/template" id="graph-avi-footer">
        {% include 'LilyBackOfficeBundle:Statistics:graph-avi-footer.html.twig' %}
    </script>
    <script type="text/template" id="chat">
        {% include 'LilyBackOfficeBundle:Statistics:chat.html.twig' %}
    </script>
    <script type="text/template" id="graph-chat">
        {% include 'LilyBackOfficeBundle:Statistics:graph-chat.html.twig' %}
    </script>
    <script type="text/template" id="graph-chat-footer">
        {% include 'LilyBackOfficeBundle:Statistics:graph-chat-footer.html.twig' %}
    </script>
    <script type="text/template" id="user">
	  {% include 'LilyBackOfficeBundle:Statistics:Users/user.html.twig' %}
    </script>
    <script type="text/template" id="user-activity-app">
	  {% include 'LilyBackOfficeBundle:Statistics/Users/Activity:app.html.twig' %}
    </script>
    <script type="text/template" id="user-activity-conversation">
	  {% include 'LilyBackOfficeBundle:Statistics/Users/Activity/Conversations:conversation.html.twig' %}
    </script>
    <script type="text/template" id="user-activity-conversation-details">
	  {% include 'LilyBackOfficeBundle:Statistics/Users/Activity/Conversations:details.html.twig' %}
    </script>
    <script type="text/template" id="user-activity-conversation-app">
	  {% include 'LilyBackOfficeBundle:Statistics/Users/Activity/Conversations:app.html.twig' %}
    </script>
    <script type="text/template" id="user-activity-log">
	  {% include 'LilyBackOfficeBundle:Statistics/Users/Activity/Logs:log.html.twig' %}
    </script>
    <script type="text/template" id="user-activity-logs-app">
	  {% include 'LilyBackOfficeBundle:Statistics/Users/Activity/Logs:app.html.twig' %}
    </script>
    <script type="text/template" id="user-activity-chat-graph">
	  {% include 'LilyBackOfficeBundle:Statistics/Users/Activity/Chat:graph.html.twig' %}
    </script>
    <script type="text/template" id="user-activity-chat-graph-footer">
	  {% include 'LilyBackOfficeBundle:Statistics/Users/Activity/Chat:graph_footer.html.twig' %}
    </script>
    {% endblock %}

	{% block bootstrap %}
	    {% autoescape false %}
	    <script type="text/javascript">
	        var root_stats = '{{ path('lily_statistics') }}';
	        var root_user = '{{ path('lily_user') }}';
	    </script>
	    {% endautoescape %}
	{% endblock %}

{% endblock %}

{% block javascripts %}

{{ parent() }}

{% javascripts 

'js/charts/flot/jquery.flot.min.js' 
'js/charts/flot/jquery.flot.tooltip.min.js' 
'js/charts/flot/jquery.flot.resize.js' 
'js/charts/flot/jquery.flot.orderBars.js' 
'js/charts/flot/jquery.flot.pie.min.js' 
'js/charts/flot/jquery.flot.time.min.js' 
'js/charts/morris/raphael-min.js' 
'js/charts/morris/morris.min.js' 
'js/vendor/moment.js' 
'js/daterangepicker/daterangepicker.js' 
'js/backoffice/statistics/avi.js'
'js/backoffice/statistics/usage.js'
'js/backoffice/statistics/users.js'
'js/backoffice/statistics/chat.js'
'js/backoffice/statistics/app.js'

output='js/compiled/statistics.js'%}

  <script type="text/javascript" src="{{ asset_url }}"></script>
  
{% endjavascripts %}

{% endblock %}