{% extends "LilyBackOfficeBundle::layout.html.twig" %}

{% block stylesheets %}

{{ parent() }}

{% stylesheets 'css/backoffice/config.css' filter='cssrewrite' output='css/compiled/config.css' %}
<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />

{% endstylesheets %}

{% endblock %}

{% block body %}

	<section>
  	<section class="hbox stretch">

    {% include "LilyBackOfficeBundle::menu.html.twig" %}

    {% block content %}
      <!-- .vbox -->
      <section class="js-app">

      </section>
      <!-- /.vbox -->
    {% endblock %}

  	</section>

  {% block templates %}
	<!-- L'appel des différents scripts de vue -->
	<script type="text/template" id="skeletonTpl">
    {% include 'LilyBackOfficeBundle:Config:skeleton.html.twig' %}
  </script>
	<script type="text/template" id="globalTpl">
    {% include 'LilyBackOfficeBundle:Config:global.html.twig' %}
  </script>
	<script type="text/template" id="aviTpl">
    {% include 'LilyBackOfficeBundle:Config:avi.html.twig' %}
  </script>
	<script type="text/template" id="chatTpl">
    {% include 'LilyBackOfficeBundle:Config:chat.html.twig' %}
  </script>
	<script type="text/template" id="modalTpl">
    {% include 'LilyBackOfficeBundle:Config:modal.html.twig' %}
  </script>
  {% endblock %}

	{% block bootstrap %}
    {% autoescape false %}
      <script type="text/javascript">
        var config = window.config || {};
        config.root = '{{ app.request.getBaseURL() }}/api';
        config.client = JSON.parse('{{ client | serialize('json') | raw }}');
        config.wsserver = "{{ ws_host }}";
        config.licence = '{{ app.user.client.licence }}';
	    </script>
    {% endautoescape %}
	{% endblock %}

	</section>

<script src="{{ asset('js/bower_components/requirejs/require.js')}}"
  data-main="{{ asset('js/backoffice/config/main.js')}}">
</script>

{% endblock %}
