{% extends "LilyBackOfficeBundle::layout.html.twig" %}

{% block stylesheets %} 	   

{{ parent() }} 	   

{% stylesheets 'css/backoffice/config.css' 'js/fuelux/fuelux.css' filter='cssrewrite' output='css/compiled/config.css' %}      
<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />     

{% endstylesheets %} 

{% endblock %}

{% block body %}

<section class="hbox stretch">

	{% include "LilyBackOfficeBundle::menu.html.twig" %}

{% block content %} 	 	
  <!-- .vbox -->      
  <section id="administration">     
    <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen" data-target="#nav"></a>    
  </section>    
  <!-- /.vbox -->
  {% endblock %} 	
  
  {% block templates %} 		
	<!-- L'appel des différents scripts de vue -->
	<script type="text/template" id="parameters">
        {% include 'LilyBackOfficeBundle:Config:parameters.html.twig' %}
    </script>
	<script type="text/template" id="modal">
        {% include 'LilyBackOfficeBundle:Config:modal.html.twig' %}
    </script>		 
  {% endblock %}

	{% block bootstrap %}
	    {% autoescape false %}
	    <script type="text/javascript">
	        var root = '{{ path('lily_config') }}';
	    </script>
	    {% endautoescape %}
	{% endblock %}

</section>

{% endblock %}

{% block javascripts %}

{{ parent() }}

{% javascripts 

'js/vendor/jquery.min.js' 
'js/vendor/bootstrap.js' 
'js/vendor/bootstrap.js'  
'js/vendor/underscore.min.js' 
'js/vendor/backbone.min.js' 

'js/todo.js' 

'js/fuelux/fuelux.js' 
'js/backoffice/config.js' 
output='js/compiled/config.js' %}

  <script type="text/javascript" src="{{ asset_url }}"></script>
  
{% endjavascripts %}

{% endblock %}