{% extends "LilyBackOfficeBundle::layout.html.twig" %}

{% block stylesheets %}

{{ parent() }}

  <link rel="stylesheet" href="{{ asset('build/css/backoffice/config.css', version=getAppVersion()) }}" type="text/css" />

{% endblock %}

{% block body %}

	<section>
  	<section class="hbox stretch">

    {% include "LilyBackOfficeBundle::menu.html.twig" %}

    {% block content %}
      <!-- .vbox -->
      <section class="js-app">

      </section>
      <!-- /.vbox -->
    {% endblock %}

  	</section>

  {% block templates %}
	<!-- L'appel des différents scripts de vue -->
	<script type="text/template" id="skeletonTpl">
    {% include 'LilyBackOfficeBundle:Config:skeleton.html.twig' %}
  </script>
	<script type="text/template" id="globalTpl">
    {% include 'LilyBackOfficeBundle:Config:global.html.twig' %}
  </script>
	<script type="text/template" id="aviTpl">
    {% include 'LilyBackOfficeBundle:Config:avi.html.twig' %}
  </script>
	<script type="text/template" id="chatTpl">
    {% include 'LilyBackOfficeBundle:Config:chat.html.twig' %}
  </script>
  {% endblock %}

	{% block bootstrap %}
    {% autoescape false %}
      <script type="text/javascript">
        var config = window.config || {};
        config.ws = {};
        config.version = "{{ getAppVersion() }}";
        config.root = '{{ app.request.getBaseURL() }}/api';
        config.appRoot = '{{ app.request.getBaseURL() }}/app/api';
        config.client = JSON.parse('{{ client | serialize('json') | raw }}');
        config.ws.host = "{{ ws_host }}";
        config.ws.protocol = "{{ ws_protocol }}";
        config.licence = '{{ app.user.client.licence }}';
        config.synapsePassword = '{{ app.user.client.synapsePassword }}';
	    </script>
    {% endautoescape %}
	{% endblock %}

	</section>

{% if app.environment == 'dev' %}
<script
  src="{{ asset('js/bower_components/requirejs/require.js')}}"
  data-main="{{ asset('js/backoffice/config/main.js')}}">
</script>
{% else %}
<script src="{{ asset('build/js/common.js')}}"></script>
<script src="{{ asset('build/js/chatComp.js')}}"></script>
<script src="{{ asset('build/js/config/main.js')}}"></script>
{% endif %}

{% endblock %}
