{% extends "LilyBackOfficeBundle::layout.html.twig" %}

{% block stylesheets %} 	   

{{ parent() }} 	   

{% stylesheets 'css/backoffice/chat.css' filter='cssrewrite'  output='css/compiled/chat.css'%} 
     
  <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />     

{% endstylesheets %} 

{% endblock %}

{% block body %}

<section>
  <section class="hbox stretch">

  {% include "LilyBackOfficeBundle::menu.html.twig" with {'user': 'user'}  %}

	{% block content %}
	
  	<section>
  	  <section class="js-skeleton-container vbox">
        <header class="header bg-dark lter">
          <ul class="nav nav-tabs">
            <li class="dashboard-nav"><a href="#dashboard">Dashboard</a></li>
            <li class="shortcut-nav"><a href="#shortcut">Messages pré-enregistrés</a></li>
          </ul>
        </header>
        <!--
          Here start our application
          Main Skelton View
        -->  	  
  	  </section>
  	</section>

	{% endblock %}
	
	{% block templates %}
    <!-- 
  		  Dashboard
    -->
		<script type="text/template" id="dashboardSkeletonTpl">
      {% include 'LilyChatBundle:Dashboard:skeleton.html.twig' %}
    </script>
		<script type="text/template" id="dashboardConnectedOperatorTpl">
      {% include 'LilyChatBundle:Dashboard/Connected:operator.html.twig' %}
    </script>
		<script type="text/template" id="dashboardConnectedListTpl">
      {% include 'LilyChatBundle:Dashboard/Connected:list.html.twig' %}
    </script>
		<script type="text/template" id="dashboardLoadingTpl">
      {% include 'LilyChatBundle:Dashboard:loading.html.twig' %}
    </script>
		<script type="text/template" id="dashboardOperatorsTpl">
      {% include 'LilyChatBundle:Dashboard:operators.html.twig' %}
    </script>
		<script type="text/template" id="dashboardVisitorsTpl">
      {% include 'LilyChatBundle:Dashboard:visitors.html.twig' %}
    </script>
    <!-- 
  		  Shortcuts
    -->
		<script type="text/template" id="shortcutsSkeletonTpl">
      {% include 'LilyChatBundle:Shortcuts:skeleton.html.twig' %}
    </script>
		<script type="text/template" id="shortcutsEditTpl">
      {% include 'LilyChatBundle:Shortcuts:edit.html.twig' %}
    </script>
		<script type="text/template" id="shortcutsItemTpl">
      {% include 'LilyChatBundle:Shortcuts:item.html.twig' %}
    </script>
    
  {% endblock %}

	{% block bootstrap %}
    {% autoescape false %}
	    <script type="text/javascript">
  	    
        var config = window.config || {};
        config.ws = {};
        config.root = '{{ app.request.getBaseURL() }}/api';
        config.ws.host = "{{ ws_host }}";
        config.ws.protocol = "{{ ws_protocol }}";
        config.licence = '{{ app.user.client.licence }}';
        config.userId = '{{ app.user.id }}';
	    </script>
    {% endautoescape %}
	{% endblock %}
	
  </section>
</section>

<script
  src="{{ asset('js/bower_components/requirejs/require.js')}}"
  data-main="{{ asset('js/backoffice/chat/main.js')}}">
</script>

{% endblock %}
