{% extends "LilyBackOfficeBundle::layout.html.twig" %}

{% block stylesheets %}
{{ parent() }}
  <link rel="stylesheet" href="{{ asset('css/backoffice/users.css', version=getAppVersion()) }}" type="text/css"/>
{% endblock %}


{% block body %}

<section>
  <section class="hbox stretch">

  {% include "LilyBackOfficeBundle::menu.html.twig" %}

	{% block content %}

	  <section>
  	  <section class="vbox">
    	  <header class="header menu-header bg-light">
          <ul class="nav nav-tabs nav-tabs-wrapper">
            <li class="users-nav active"><a href="#">Utilisateurs</a></li>
            <li class="groups-nav"><a href="#groups">Groupes</a></li>
          </ul>
        </header>
        <section>
          <section class="hbox stretch">
            <section class="js-skeleton-container"></section>
          </section>
        </section>
  	  </section>
	  </section>

	{% endblock %}


    {% block templates %}
    {% autoescape false %}

    <!--
        Users
    -->
    <script type="text/template" id="userTpl">
	  {% include 'LilyUserBundle:Admin:Users/user.html.twig' %}
    </script>
    <script type="text/template" id="usersEditTpl">
    {% include 'LilyUserBundle:Admin:Users/edit.html.twig' %}
    </script>
    <script type="text/template" id="usersSkeletonTpl">
	  {% include 'LilyUserBundle:Admin:Users/skeleton.html.twig' %}
    </script>
    <script type="text/template" id="usersGroupsButtonTpl">
	  {% include 'LilyUserBundle:Admin:Users/groups_button.html.twig' %}
    </script>
    <!--
        Groups
    -->
    <script type="text/template" id="groupTpl">
	  {% include 'LilyUserBundle:Admin:Groups/group.html.twig' %}
    </script>
    <script type="text/template" id="groupsEditTpl">
    {% include 'LilyUserBundle:Admin:Groups/edit.html.twig' %}
    </script>
    <script type="text/template" id="groupsSkeletonTpl">
	  {% include 'LilyUserBundle:Admin:Groups/skeleton.html.twig' %}
    </script>
    <!--
        Components
    -->
		<script type="text/template" id="modalConfirmTpl">
      {% include 'LilyBackOfficeBundle:Utils/Modal:confirm.html.twig' %}
    </script>

  {% endautoescape %}
  {% endblock %}

  {% block bootstrap %}
    {% autoescape false %}
    <script type="text/javascript">
      var config = window.config || {};
      config.version = "{{ getAppVersion() }}";
      config.ws = {};
      config.root = '{{ app.request.getBaseURL() }}/api';
      config.appRoot = '{{ app.request.getBaseURL() }}/app/api';
      config.licence = '{{ app.user.client.licence }}';
      config.maxusers = '{{ app.user.client.config.maxusers }}';
		  config.ws.host = "{{ ws_host }}";
      config.ws.protocol = "{{ ws_protocol }}";
      config.synapsePassword = '{{ app.user.client.synapsePassword }}';
    </script>
    {% endautoescape %}
  {% endblock %}

  </section>
</section>

{% if app.environment == 'dev' %}
<script
  src="{{ asset('js/bower_components/requirejs/require.js')}}"
  data-main="{{ asset('js/backoffice/users/main.js')}}">
</script>
{% else %}
<script src="{{ asset('js-build/common.js')}}"></script>
<script src="{{ asset('js-build/chatComp.js')}}"></script>
<script src="{{ asset('js-build/users/main.js')}}"></script>
{% endif %}

{% endblock %}
