
{% extends "LilyBackOfficeBundle::layout.html.twig" %}

{% block stylesheets %}

  {{ parent() }}

  {% stylesheets 'css/backoffice/knowledge.css'
     filter='cssrewrite'
     output='css/compiled/questions.css' %}
  <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
  {% endstylesheets %}

{% endblock %}

{% block body %}

<section>
  <section class="hbox stretch">

  {% include "LilyBackOfficeBundle::menu.html.twig" %}

	{% block content %}
    <!-- .aside -->
    <aside class="app-navigator bg-light b-r" style="width: 220px;">
      <section class="vbox">
        <header class="nav-bar">
          <ul class="nav nav-pills nav-stacked no-radius">
            <li class="questions-nav">
              <a href="#questions">
                <span class="badge pull-right">0</span> 
                Questions
              </a>
            </li>
            <li class="files-nav">
              <a href="#files">
                <span class="badge pull-right">0</span> 
                Fichiers
              </a>
            </li>
            <li class="links-nav">
              <a href="#links">
                <span class="badge pull-right">0</span> 
                Liens
              </a>
            </li>
            <li class="categories-divider">
              <button class="btn-fullscreen btn pull-right">
                <i class="icon-resize-full"></i>
                <span>Réduire</span>
              </button>
              <button class="btn-add btn pull-right">
                <i class="icon-plus"></i>
                <span>Ajouter une catégorie</span>
              </button>
              <div class="btn-collapse pull-right">
                <button class="btn" data-toggle="dropdown">
                  <i class="icon-sort"></i>
                  <span>Afficher</span>
                </button>
                <ul class="dropdown-menu">
      	      		<li>
      	      			<a data-collapse="down" data-order="desc" href="#">Tout afficher</a>
      	      		</li>
      	      		<li>
      	      			<a data-collapse="up" data-order="asc" href="#">Tout masquer</a>
      	      		</li>
      	      	</ul>
              </div>
              <h5>Categories</h5>
            </li>
          </ul>
        </header>
        <section class="scrollable categories">
          <ul class="js-categories-list">
            <!--
              Here goes questions' categories
            -->
          </ul>
        </section>
      </section>
    </aside>
    <!-- /.aside -->
    
    <!-- .aside -->
    <aside class="js-skeleton-container bg-light lter">
      <!--  
        Here goes our skeletons
      -->
    </aside>


    <!-- /.aside -->
	{% endblock %}


	{% block templates %}
		<!-- 
  		Questions 
    -->
		<script type="text/template" id="questionsSkeletonTpl">
      {% include 'LilyKnowledgeBundle:Questions:skeleton.html.twig' %}
    </script>
		<script type="text/template" id="questionsQuestionTpl">
      {% include 'LilyKnowledgeBundle:Questions:question.html.twig' %}
    </script>
		<script type="text/template" id="questionsEditTpl">
      {% include 'LilyKnowledgeBundle:Questions/Edit:skeleton.html.twig' %}
    </script>
		<script type="text/template" id="questionsEditTreeTpl">
      {% include 'LilyKnowledgeBundle:Questions/Edit:tree.html.twig' %}
    </script>
		<!-- 
  		Categories
    -->
		<script type="text/template" id="categoriesCategoryTpl">
      {% include 'LilyKnowledgeBundle:Categories:category.html.twig' %}
    </script>
		<script type="text/template" id="categoriesEditTpl">
      {% include 'LilyKnowledgeBundle:Categories:edit.html.twig' %}
    </script>
    <!-- 
  		  Modals
    -->
		<script type="text/template" id="modalAppTpl">
      {% include 'LilyBackOfficeBundle:Utils/Modal:app.html.twig' %}
    </script>
		<script type="text/template" id="modalConfirmTpl">
      {% include 'LilyBackOfficeBundle:Utils/Modal:confirm.html.twig' %}
    </script>
  {% endblock %}

	{% block bootstrap %}
    {% autoescape false %}
      <script type="text/javascript">
        var config = {};
        config.root = '{{ app.request.getBaseURL() }}/lily/api';
        config.counters = JSON.parse('{{ counters | serialize('json') }}');
        config.licence = '{{ app.user.client.licence }}';
        {% if app.environment == 'dev' %}
        config.wsserver = 'ws://develop.saio.fr';
        {% else %}
        config.wsserver = 'ws://ws.saio.fr';
        {% endif %}
	    </script>
    {% endautoescape %}
	{% endblock %}

  </section>
</section>

<div class="dragger hide"></div>

<script
  src="{{ asset('js/bower_components/requirejs/require.js')}}"
  data-main="{{ asset('js/backoffice/knowledge/main.js')}}">
</script>

{% endblock %}
