{% extends "LilyUserBundle:Manage:layout.html.twig" %}

{% block userManagementTitle %}Supprimer un compte{% endblock %}

{% block userManagementContent %}
	<div class="wrapper">
		<h4>Suppression du compte {{ userDel.username }} :</h4>

		{% if 0<1 and userDel!='' %}
			<form method="post" {{ form_enctype(form) }} id="deleteUserForm">
				Confirmez-vous la suppression de l'utilisateur {{ userDel.username }} ?<br />
				<br />
				{{ form_widget(form) }}
				<a href="{{path('lily_userList') }}" class="btn btn-primary">Annuler</a>
				<input type="submit" class="btn btn-primary" value="Supprimer"/>
			</form>
		{% elseif userDel is null %}
			L'utilisateur n'a pas pu être retrouvé et semble avoir déjà été supprimé.<br />
		{% else %}
			Vous ne pouvez pas supprimer cet utilisateur<br />
		{% endif %}
	</div>
{% endblock %}