{% extends "LilyBackOfficeBundle::layout.html.twig" %}

{% block stylesheets %}
{{ parent() }}

{% stylesheets 'js/daterangepicker/daterangepicker.css' 'css/backoffice/users/manager.css' 'css/icon.css' filter='cssrewrite' output='css/compiled/users.css' %}

	<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />

{% endstylesheets %}
{% endblock %}


{% block body %}

<section class="hbox stretch">

  {% include "LilyBackOfficeBundle::menu.html.twig" with {'user': 'user'}  %}

	{% block content %}
    <!-- .vbox -->
          <section id="users" class="vbox scrollable padder-b">
          </section>
	{% endblock %}


    {% block templates %}
    {% autoescape false %}

    <!-- include of templates -->
    <script type="text/template" id="user">
	  {% include 'LilyUserBundle:Manage:Users/user.html.twig' %}
    </script>
    <!-- replacing </script> with <\/script> so it won't close the <script type="text/template"> even if there is script in our templates -->
    <script type="text/template" id="userEdit">
    {% filter replace({'</script>':'<\\\/script>'}) %}
      {{ render(controller('LilyUserBundle:Manage:getUserForm')) }}
    {% endfilter %}
    </script>
	<script type="text/template" id="app">
	  {% include 'LilyUserBundle:Manage:Users/app.html.twig' %}
    </script>
    <script type="text/template" id="modal-delete">
	  {% include 'LilyUserBundle:Manage:Users/modal.html.twig' %}
    </script>




  {% endautoescape %}
  {% endblock %}

  {% block bootstrap %}
    {% autoescape false %}
    <script type="text/javascript">
        var root = "{{ path('lily_user') }}";
    </script>
    {% endautoescape %}
  {% endblock %}


</section>

{% endblock %}

{% block javascripts %}

{% javascripts
'js/vendor/jquery.min.js'
'js/vendor/bootstrap.js'
'js/vendor/underscore.min.js'
'js/vendor/backbone.min.js'
'js/vendor/moment.js'

'js/app.js'
'js/app.plugin.js'

'js/charts/flot/jquery.flot.min.js'
'js/charts/flot/jquery.flot.tooltip.min.js'
'js/charts/flot/jquery.flot.resize.js'
'js/charts/flot/jquery.flot.orderBars.js'
'js/charts/flot/jquery.flot.pie.min.js'
'js/charts/flot/jquery.flot.time.min.js'

'js/daterangepicker/daterangepicker.js'

'bundles/fpjsformvalidator/js/fp_js_validator.js'
'js/backoffice/users/router.js'
'js/backoffice/users/main.js'
'js/backoffice/users/views/*'
'js/backoffice/users/models/*'
'js/backoffice/users/collections/*'

output='js/compiled/users.js'
%}

<script type="text/javascript" src="{{ asset_url }}"></script>

{% endjavascripts %}

{% endblock %}
