{% extends "LilyBackOfficeBundle::layout.html.twig" %}

{% block stylesheets %}      
{{ parent() }}     

{% stylesheets 'js/wysiwyg/wysihtml5.css' '@LilyUserBundle/Resources/public/css/userManager.css' filter='cssrewrite' %}      
<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
{% endstylesheets %}   
{% endblock %}


{% block body %}

<section class="hbox stretch">

  {% include "LilyBackOfficeBundle::menu.html.twig" with {'user': 'user'}  %}

	{% block content %}
    <!-- .vbox -->
    <section id="userManagement">
      <section class="hbox stretch">
      <!-- .aside -->
        <aside class="aside aside-md bg-dark">
          <section class="vbox">
            <header class="dk header">
              <button class="btn btn-icon btn-default btn-sm pull-right visible-xs m-r-xs" data-toggle="class:show" data-target="#userManagement-nav"><i class="icon-reorder"></i></button>
              <p class="h4">Utilisateurs</p>
            </header>
            <section>
              <section>
                <section id="userManagement-nav" class="hidden-xs">
                  <ul class="nav nav-pills nav-stacked no-radius">
                    <li class="active">
                      <a href="{{ path('lily_user') }}"> 
                        <i class="icon-group"></i>
                         Vos comptes<br />
                      </a>
                    </li>
                  <!--  <li>
                      <a href="#"> 
                        <i class="icon-download-alt"></i>
                        Importer
                      </a>
                    </li>
                    <li>
                      <a href="#">
                      	<span class="badge bg-danger pull-right">721</span> 
                        <i class="icon-share"></i>
                        Exporter
                      </a>
                    </li>-->
                  </ul>
                </section>
              </section>
            </section>         
          </section>
        </aside>
        <!-- /.aside -->
        <aside class="bg-light lter">
         <section id="users" class="vbox scrollable padder-b">
           <header class="bg-light dker header clearfix padder-t b-b">
             <div id="addUserButton">
              <a href="" class="btn btn-primary">Ajouter un compte</a>
             </div>
             <ul class="breadcrumb m-n">
               Comptes :
             </ul>
           </header>
           <section class="bg-light lter">
            <section class="hbox stretch">          
              <!-- .aside -->
              <aside>
                <section class="vbox">
                  <section class="scrollable">
                    {% set userList=[] %}
                    {% set maxusers=0 %}
                    {% set rolesShowed=[] %}

                    <!-- user list -->
                    <ul id="user-list" class="list-group list-group-sp"></ul>
                    <a class="btn btn-sm btn-white new-user pull-right-lg m-l-sm"><i class="icon-plus pull-left"></i>Ajouter un utilisateur</a>
                    <div class="wrapper">
                      Vous avez actuellement <span id="userListNumberOfUser"></span> sur les <span id="userListNumberOfUser"></span> disponible(s).<br />
                    </div>
                  </section>
                </section>
              </aside>
              <!-- /.aside -->
              <aside id="user-detail" class="aside-userManagement bg-light lter b-l hide"></aside>
              <!-- Affichage du panneau de modification-->
            </section>
        </section>
      </section>
    </aside>
     <!-- /.aside --> 
   </section>
 </section>   

	{% endblock %}


	

  {% block templates %}
    <!-- L'appel des différents scripts de vue -->
      <script type="text/template" id="user">
          {% include 'LilyUserBundle:Manage:user.html.twig' %}
      </script>
      <script type="text/template" id="userEdit">
          {{ render(controller('LilyUserBundle:Manage:getUserForm')) }}
      </script>
  {% endblock %}

  {% block bootstrap %}
    {% autoescape false %}
    <script type="text/javascript">
        var root = '{{ path('lily_user') }}';
    </script>
    {% endautoescape %}
  {% endblock %}



</section>

{% endblock %}

{% block javascripts %}

{{ parent() }}

{% javascripts 'js/sortable/jquery.sortable.js' 'js/wysiwyg/wysihtml5.js' 'js/wysiwyg/bootstrap-wysihtml5.js' 'js/userManagement.js' %}

  <script type="text/javascript" src="{{ asset_url }}"></script>
  
{% endjavascripts %}

{% endblock %}