{% extends "LilyBackOfficeBundle::layout.html.twig" %}

{% block stylesheets %}
{{ parent() }}

{% stylesheets 'js/daterangepicker/daterangepicker.css' 'css/backoffice/users/manager.css' 'css/icon.css' filter='cssrewrite' output='css/compiled/users.css' %}

	<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />

{% endstylesheets %}
{% endblock %}


{% block body %}

<section class="hbox stretch">

  {% include "LilyBackOfficeBundle::menu.html.twig" with {'user': 'user'}  %}

	{% block content %}
    <!-- .vbox -->
          <section id="users" class="vbox scrollable padder-b">
          </section>
	{% endblock %}


    {% block templates %}
    {% autoescape false %}

    <!-- include of templates -->
    <script type="text/template" id="user">
	  {% include 'LilyUserBundle:Manage:Users/user.html.twig' %}
    </script>
    <!-- replacing </script> with <\/script> so it won't close the <script type="text/template"> even if there is script in our templates -->
    <script type="text/template" id="userEdit">
    {% filter replace({'</script>':'<\\\/script>'}) %}
      {{ render(controller('LilyUserBundle:Manage:getUserForm')) }}
    {% endfilter %}
    </script>
	<script type="text/template" id="app">
	  {% include 'LilyUserBundle:Manage:Users/app.html.twig' %}
    </script>
    <script type="text/template" id="modal-delete">
	  {% include 'LilyUserBundle:Manage:Users/modal.html.twig' %}
    </script>




  {% endautoescape %}
  {% endblock %}

  {% block bootstrap %}
    {% autoescape false %}
    <script type="text/javascript">
      var config = {};
      config.root = "{{ path('lily_user') }}";
    </script>
    {% endautoescape %}
  {% endblock %}


</section>

<script src="{{ asset('js/bower_components/requirejs/require.js')}}"
        data-main="{{ asset('js/backoffice/users/main.js')}}">
</script>

{% endblock %}
