<div class="vbox">
	<section class="scrollable">
		<div class="wrapper">
			<div class="clearfix m-b">
				<div class="clear">
					<div class="h5 m-t-xs m-b-xs">Modifier un utilisateur</div> 
					<form class="form-group m-t" id="user-editor">
						{{ form_errors(form) }}
						 {% for field in form %}
						 	{% if field.vars.name!='_token' %}
								{{ form_label(field) }}
	    						{{ form_errors(field) }}
	    						{% set type = field.vars.block_prefixes[1] %}
	    						{% if type in ['text', 'password', 'email'] %}
									<input type="{{ type }}" name="{{ field.vars.name }}" id="{{ field.vars.id }}" class="form-control input-sm"
										value="<% if(typeof({{ field.vars.name }})!=='undefined') {{ '{' }} %><%-{{ field.vars.name }} %><% {{ '}' }} %>" />
								{% else %}
									 <div class="btn-group m-r">
			                          <button data-toggle="dropdown" class="btn btn-sm btn-white dropdown-toggle">
			                            <span class="dropdown-label" data-placeholder="Please select">Please select</span> 
			                            <span class="caret"></span>
			                          </button>
			                          <ul class="dropdown-menu dropdown-select">
			                          	{% for choice in field.choices %}
			                              <li><a href="#"><input type="checkbox" name="d-s-c-{{ loop.index }}" checked></a></li>
			                            {% endfor %}
			                          </ul>
			                        </div>
								{% endif %}
							{% endif %}
						{% endfor %}
					</form>
				</div>
			</div>
		</div>
	</section>
	<footer class="dk footer text-center">
		<button class="btn btn-sm btn-success button-update">Sauvegarder</button>
		<button class="btn btn-sm btn-danger button-cancel m-l">Annuler</button>
	</footer> 
</div>

