<div id="userFormContent">

	{#% set fields = { 'lastname':'Nom', 'firstname':'Prénom', 'plainPassword' : 'Mot de passe', 'email':'Email', 'phone':'Téléphone', 'post':'Poste occupé', 'country':'Pays', 'allRoles':'Accès'} %}
	{% set selectFields = ['allRoles'] %}
	{% set repeatedFields = {'plainPassword' : ['Mot de passe', 'Confirmation']} %}

	{% for field, label in fields %}
		<div>
			{{ form_errors(form[field]) }}
			{% if field in repeatedFields|keys %}
				{% for instance in form[field] %}
					<div>
						{{ form_label(instance, repeatedFields[field][loop.index0]) }}
						{{ form_errors(instance) }}
						{{ form_widget(instance, {'attr':{'class':'form-control'}}) }}
					</div>
				{% endfor %}
			{% else %}
				{{ form_label(form[field], label) }}
				{% if field in selectFields %}
					{{ form_widget(form[field]) }}
				{% else %}
					{{ form_widget(form[field], {'attr':{'class':'form-control'}}) }}
				{% endif %}
			{% endif %}
		</div>
	{% endfor %}
	{{ form_rest(form) }#}
</div>
