<div class="vbox">
	<section class="scrollable">
		<div class="wrapper">
			<div class="clearfix m-b">
				<div class="clear">
					<div class="h5 m-t-xs m-b-xs">
						<% if(typeof(username)==="undefined") { %>
							Ajouter un utilisateur
						<% } else { %>
							Modifier un utilisateur
						<% } %>
					</div> 
					<form class="form-group m-t" id="user-editor">
						{# 
							On génère ici le template underscore qui servira à l'affichage du formulaire d'édition d'utilisateur.
							Puisqu'il est nécessaire de passer des valeurs avec caractères spéciaux
							et que symfony escape automatiquement, on créé les champs manuellement
						#}
						{##}
						{{ form_errors(form) }}
						 {% for field in form %}
						 	{% if field.vars.name!='_token' %}
		    						{% set type = field.vars.block_prefixes[1] %}

		    						{% if type in ['repeated'] %}
		    							{# Champ double lié au mot de passe, pas de précomplétion nécessaire #}
		    							{{ form_errors(field) }}
		    							{% for subField in field %}
											<div class="userListInput">
												{{ form_label(subField) }}
					    						{{ form_errors(subField) }}
				    							{{ form_widget(subField, { 'attr' : {'class' : 'form-control input-sm' }}) }}
				    						</div>
			    						{% endfor %}
		    						{% elseif field.vars.name == 'avatar' %}
		    						<div class="userListInput avatarInput">
		    							<iframe src="{{ path('lily_avatarWidget') }}/<% if(typeof(id)!=='undefined') {{ '{' }} %><%-id %><% {{ '}' }} %>" id="avatarWidget">Widget de modification d'avatar non disponible</iframe>
		    						</div>
		    						{% elseif type in ['text', 'email'] %}
										{% if field.vars.name == 'username' %} <hr /> {% endif %}
							 			<div class="userListInput">
											{{ form_label(field) }}
				    						{{ form_errors(field) }}
			    							{# Champ classique #}
											<input type="{{ type }}"
													name="{{ field.vars.name }}"
													id="{{ field.vars.id }}"
													class="form-control input-sm"
													value="<% if(typeof({{ field.vars.name }})!=='undefined') {{ '{' }} %><%-{{ field.vars.name }} %><% {{ '}' }} %>" />
										</div>
										{% if field.vars.name == 'username' %} <br /> {% endif %}
									{% else %}
										<div class="userListInput">
											{{ form_label(field) }}
											{{ form_errors(field) }}

											{# Champ de type sélecteur #}
											{# Remarque : Un wigdet de todo est utilisé #}

											{% set options  = "" %} {# contient les li servant d'options #}
											{% set itemText = "" %} {# valeur du tableau JS de correspondance valeur-label #}

											{% for choice in field.vars.choices %}
												{% set options = options
																~ '<li <% if(typeof(' ~ field.vars.name ~ ')!="undefined" && ' ~ field.vars.name ~ '.indexOf("' ~ choice.value ~ '")!==-1) { %> class="active" <% } %>>'
																~ '<a href="#">'
																~ '<input type="checkbox" name="' ~ choice.value ~ '" <% if(typeof(' ~ field.vars.name ~ ')!="undefined" && ' ~ field.vars.name ~ '.indexOf("' ~ choice.value ~ '")!==-1) { %> checked <% } %>>'
																~ choice.label
																~ '</a>'
																~ '</li>'
												%}
												{% set itemText = itemText
																~ (itemText == "" ? "" : ", ")
																~ '"'
																~ choice.value
																~ '" : "'
																~ choice.label
																~ '"'
												%}
											{% endfor %}

											<div class="btn-group m-r dropdownSelect" data-name="{{ field.vars.name }}">
												<button data-toggle="dropdown" class="btn btn-sm btn-white dropdown-toggle">
													<span class="caret"></span>
													<% var text = "";
														if(typeof({{field.vars.name}})!="undefined") {
															var itemText={ {{ itemText|raw }} };

															for(var item in itemText) {
																if({{ field.vars.name }}.indexOf(item)!==-1) {
																	text += (text==="") ? "" : ", ";
																	text += itemText[item];
																}
															}
														}

														if(text=="")
															text="Sélectionnez une option";
													%>
													<span class="dropdown-label" data-placeholder="Sélectionnez une option"><%= text %></span> 
												</button>

												<ul class="dropdown-menu dropdown-select">
													{{ options|raw }}
												</ul>
											</div>
										</div>
									{% endif %}
							{% endif %}
						{% endfor %}
					</form>
				</div>
			</div>
		</div>
	</section>
	<footer class="dk footer text-center">
		<button class="btn btn-sm btn-success button-update">Sauvegarder</button>
		<button class="btn btn-sm btn-danger button-cancel m-l">Annuler</button>
	</footer> 
{{ include('LilyUserBundle:Manage:jsFormValidation.html.twig') }}
</div>
