{% extends "LilyHomePageBundle:fr:layout.html.twig" %}

{% block title %}SAIO souhaite bonne chance à la France pour les huitièmes de finale du Mondial - SAIO{% endblock %}

{% block content %}

	<!--Article-->
	<section id="article">
		<div class="crop"><img src="{{ asset('images/home/supporter.jpg') }}" style="bottom: 100px;"></div>
		<div class="wrapper">
			<div class="article">
				<div class="content">
					<h1>SAIO souhaite bonne chance à la France pour les huitième de finale du Mondial</h1>
					<p class="date">Publié le 29 main 2014</p>
					<div class="tag">Relation client</div>
					<p class="chapo">L'équipe de France jouera ce soir au Brésil son premier match couperet à 18h heure Française. SAIO et Lily se sont donc mis aux couleurs de cet évènement qui promet d'être riche en émotions.</p>
						<p>Après des phases de poule dont la France est sortie vainqueur, c'est le Nigéria que les Bleus devront affronter d'ici quelques minutes pour déterminer qui devra se battre contre le vainqueur du match Algérie-Allemagne dont le dénouement sera connu en fin de soirée. Rappellons que cette équipe qui a fini seconde du F n'est pas à prendre à la légère puisqu'elle a réussi à mettre en difficulté l'équipe d'Argentine, pourtant l'une des favorites de ce tournoi.<br><br>
						La France retiendra donc son souffle ce soir en espérant décrocher son ticket pour les quarts de finale d'un Mondial où tous les espoirs sont permis après l'élimination surprises de nombreuses grosses équipes à l'image de l'Espagne et de l'Italie.<br><br>
						Puisque nous sommes joueurs, nous vous livrons ici nos pronostics : 2 - 0 pour la France.<br><br>
						Bon match à tous et surtout...
						<br><br>
						Allez les Bleus !
						</p>
						<!--<a href="http://www.relationclientmag.fr/Thematique/acteurs-strategies-1014/etudes-et-tendances-10066/Breves/Experience-client-ligne-canaux-repondent-pas-seule-voix-237027.htm" target="_blank" class="source">Sources : relationclientmag.fr</a>
						-->
						<div class="share">
							<p>Partagez cet article :</p>
							<div class="links">
								<a href="https://twitter.com/share" class="twitter-share-button" >Tweet</a>
								<div class="fb-share-button" data-href="http://saio.fr/blog/articles/4" data-type="button_count"></div>
								<div class="g-plus" data-action="share" data-annotation="bubble" data-height="24"></div>
							</div>
						</div>
					</div>
					<a href="#" class="previous" style="display: none;">
						<img src="{{ asset('images/icon-arrow-left.png') }}" class="arrow-left" alt="Icon arrow left">
						<h2>Article précédent</h2>
					</a>
					<a href="#" class="next" style="display: none;">
						<h2>Article suivant</h2>
						<img src="{{ asset('images/icon-arrow-right.png') }}" class="arrow-right" alt="Icon arrow right">
					</a>
					<a href="#" class="mobile_previous" style="display: none;">
						<img src="{{ asset('images/icon-arrow-left.png') }}" class="arrow-left" alt="Icon arrow left">
						<h2>Précédent</h2>
					</a>
					<a href="#" class="mobile_next" style="display: none;">
						<h2>Suivant</h2>
						<img src="{{ asset('images/icon-arrow-right.png') }}" class="arrow-right" alt="Icon arrow right">
					</a>
				</div>
			</div>
	</section>

{% endblock %}