{% extends "LilyHomePageBundle:fr:layout.html.twig" %}

{% block title %}Les limites de l'expérience client cross canal sur le web - SAIO{% endblock %}

{% block content %}

	<!--Article-->
	<section id="article">
		<div class="crop"><img src="{{ asset('images/home/laptop_man.jpg') }}" style="bottom: 100px;"></div>
		<div class="wrapper">
			<div class="article">
				<div class="content">
					<h1>Les limites de l'expérience cross-canal sur le Web</h1>
					<p class="date">Publié le 29 main 2014</p>
					<div class="tag">Relation client</div>
					<p class="chapo">Malgré le développement de nombreuses solutions et la prise de conscience des entreprises de l'importance de fournir différents canaux de contact pour leurs clients, une étude d'Eptica montre que les réponses apportées sur chaque canal manquent encore de cohérence.</p>
					<p>Selon l'étude réalisée par Eptica intitulée "Les marques françaises et l'expérience client omnicanal en ligne", les entreprises françaises en 2014 disposent en moyenne de plus de 4 outils ou canaux de communication pour interagir avec leurs clients sur le Web. Sans compter les FAQ et moteur de recherche par mots-clés, ces dernières ont investi dans de nombreux outils de web self-service, dont le taux d'équipement atteint 34% cette année. Néanmoins les entreprises françaises accusent encore un fort retard d'équipement en agents virtuels et en service de live chat qui n'atteignent respectivement que 11% (contre 8% en 2012) et 7% (identique à 2012) de taux d'équipement.<br><br>

						Les entreprises ont notamment privilégié jusqu'à présent l'e-mail en proposant puisque 81% d'entre elles le mettent à disposition sur leur site (+ 7% par rapport à 2012). Cependant, certaines ont choisi de réserver ce canal à leurs clients identifiés nécessitant ainsi un mot de passe ou un numéro de commande pour pouvoir entrer en contact avec la marque. Dans le secteur de la téléphonie, par exemple, seules 10% des marques proposent un e-mail de contact à leurs utilisateurs.<br><br>

						Canal historique, le téléphone reste privilégié puisque 93% des sites proposent un numéro d'appel. D'un autre côté les entreprise se sont largement développées sur les réseaux sociaux avec 69% d'entre elles qui proposent un lien vers leur page Facebook sur leur site Internet (+ 7% par rapport à 2012). Même constat pour Twitter : 57% des sites renvoient vers le fil des entreprises (+ 11%). En revanche, nombreuses sont les marques qui ne communiquent pas sur leur compte Twitter : 84% y sont joignables.<br><br>

						<strong>En quelques chiffres sur l'année 2014</strong><br><br>
						- 72% des sites français proposent une recherche par mots clés (contre 55% en 2012)<br>
						- 71% mettent à disposition une foire aux questions (79% en 2012)<br>
						- 34% donnent accès à une solution de web self-service (12% en 2012)<br>
						- 11% disposent d'un agent virtuel (8% en 2012)<br>
						- 8% possèdent un espace de live chat (comme en 2012)</p>
						<a href="http://www.relationclientmag.fr/Thematique/acteurs-strategies-1014/etudes-et-tendances-10066/Breves/Experience-client-ligne-canaux-repondent-pas-seule-voix-237027.htm" target="_blank" class="source">Sources : relationclientmag.fr</a>
						<div class="share">
							<p>Partagez cet article :</p>
							<div class="links">
								<a href="https://twitter.com/share" class="twitter-share-button" >Tweet</a>
								<div class="fb-share-button" data-href="http://saio.fr/blog/articles/1" data-type="button_count"></div>
								<div class="g-plus" data-action="share" data-annotation="bubble" data-height="24"></div>
							</div>
						</div>
					</div>
					<a href="#" class="previous" style="display: none;">
						<img src="{{ asset('images/icon-arrow-left.png') }}" class="arrow-left" alt="Icon arrow left">
						<h2>Article précédent</h2>
					</a>
					<a href="#" class="next" style="display: none;">
						<h2>Article suivant</h2>
						<img src="{{ asset('images/icon-arrow-right.png') }}" class="arrow-right" alt="Icon arrow right">
					</a>
					<a href="#" class="mobile_previous" style="display: none;">
						<img src="{{ asset('images/icon-arrow-left.png') }}" class="arrow-left" alt="Icon arrow left">
						<h2>Précédent</h2>
					</a>
					<a href="#" class="mobile_next" style="display: none;">
						<h2>Suivant</h2>
						<img src="{{ asset('images/icon-arrow-right.png') }}" class="arrow-right" alt="Icon arrow right">
					</a>
				</div>
			</div>
	</section>

{% endblock %}