{% extends "LilyHomePageBundle:fr:layout.html.twig" %}

{% block title %}Le live chat plèbiscité par les conseillers client - SAIO{% endblock %}

{% block content %}

	<!--Article-->
	<section id="article">
		<div class="crop"><img src="{{ asset('images/home/ipad_woman.jpg') }}" style="bottom: 100px;"></div>
		<div class="wrapper">
		<div class="article">
			<div class="content">
				<h1>Le live chat plèbiscité par 90% des conseillers client</h1>
				<p class="date">Publié le 6 juin 2014</p>
				<div class="tag">Relation client</div>
				<p class="chapo">D'après une enquête réalisée pour iAdvize auprès de conseillers utilisateurs de live chat, 90% d'entre eux préfèrent utiliser cette solution plutôt que le téléphone et 67% pensent que la compréhension du besoin du visiteur est facilitée par ce type de solution.</p>
				<p>Selon les conseillers qui répondent aux clients au moyen d'une solution de live chat, ce nouveau canal de communication s'avère à la fois bénéfique pour les clients et les opérateurs. En effet 80% d'entre eux déclarent ressentir une plus forte proximité au moyen de ce canal. Ainsi le côté plus "immédiat, moins austère et plus convivial" est plèbiscité par les conseillers et 62% affirment échanger différemment que sur d'autres canaux. De plus le live chat permet d'accroitre l'efficacité avec 87% de résolution au premier contact.<br><br><strong>Le live chat vu par les conseillers</strong><br><br>90% des conseillers placent cet outil en première position par rapport au téléphone, et la totalité d'entre eux le préfèrent à l'e-mail. D'ailleurs, l'ensemble des agents interrogés ont vu l'arrivée de ce nouveau canal comme une bonne nouvelle. En effet 44% d'entre eux y voient une approche différente de la relation client et 33% un échange plus gratifiant et valorisant.<br><br>De plus certaines fonctionnalités comme l'accès à une base de connaissance, la visibilité de ce que tape l'internaute et le partage d'écran sont très appréciées par les conseillers.<br><br><strong>En quelques chiffres</strong><br><br>- Les conseillers traitent en moyenne 3 conversations en simultané<br>- 37% des conseillers sont formés au discours sur live chat<br>- 9 minutes de délai moyen de traitement<br><br>
					<strong>Méthodologie :</strong><br><br>Cette étude réalisée pour iAdvize s'appuie sur des entretiens conduits auprès d'une vingtaine de conseillers dédiés au live chat de neuf sociétés utilisatrices de la solution. Parmi les sociétés interrogées : Adamence, Amaguiz, Boulanger, Homair, Maisons du Monde, Monoprix, Onedirect, STGM, et Stores-discount.</p>
					<a href="http://www.relationclientmag.fr/Thematique/techno-solutions-it-1016/crm-outils-grc-10075/Breves/conseillers-preferent-tchat-telephone-234984.htm" target="_blank" class="source">Sources : relationclientmag.fr</a>
					<div class="share">
						<p>Partagez cet article :</p>
						<div class="links">
							<a href="https://twitter.com/share" class="twitter-share-button" >Tweet</a>
							<div class="fb-share-button" data-href="http://saio.fr/blog/articles/2" data-type="button_count"></div>
							<div class="g-plus" data-action="share" data-annotation="bubble" data-height="24"></div>
						</div>
					</div>
				</div>
				<a href="#" class="previous" style="display: none;">
					<img src="{{ asset('images/icon-arrow-left.png') }}" class="arrow-left" alt="Icon arrow left">
					<h2>Article précédent</h2>
				</a>
				<a href="#" class="next" style="display: none;">
					<h2>Article suivant</h2>
					<img src="{{ asset('images/icon-arrow-right.png') }}" class="arrow-right" alt="Icon arrow right">
				</a>
				<a href="#" class="mobile_previous" style="display: none;">
					<img src="{{ asset('images/icon-arrow-left.png') }}" class="arrow-left" alt="Icon arrow left">
					<h2>Précédent</h2>
				</a>
				<a href="#" class="mobile_next" style="display: none;">
					<h2>Suivant</h2>
					<img src="{{ asset('images/icon-arrow-right.png') }}" class="arrow-right" alt="Icon arrow right">
				</a>
			</div>
		</div>
	</section>

{% endblock %}