<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>{% block title %}Lily Back Office{% endblock %}</title>
  <meta name="description" content="lily, agent virtuel, back office" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

{% block stylesheets %}

{% stylesheets

  'css/vendor/bootstrap.css'
  'css/vendor/animate.css'
  'css/vendor/font-awesome.min.css'
  'css/vendor/font.css'
  'css/vendor/plugin.css'

filter='cssrewrite' %}

  <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />

{% endstylesheets %}

  <link rel="stylesheet" href="{{ asset('css/vendor/app.css', version=getAppVersion()) }}" type="text/css"/>
  <link rel="stylesheet" href="{{ asset('css/backoffice/main.css', version=getAppVersion()) }}" type="text/css"/>
  <link rel="stylesheet" href="{{ asset('css/components/chat.css', version=getAppVersion()) }}" type="text/css"/>

{% endblock %}

  <!--[if lt IE 9]>
    <script src="{{ asset('js/ie/respond.min.js') }}" cache="false"></script>
    <script src="{{ asset('js/ie/html5.js') }}" cache="false"></script>
    <script src="{{ asset('js/ie/fix.js') }}" cache="false"></script>
  <![endif]-->

  <link rel="icon" href="{{ asset('images/home/favicon-saio.png') }}" />

</head>
<body>

  <section class="vbox">

    {% include "LilyBackOfficeBundle::header.html.twig" %}

    {% block body %}{% endblock %}

  </section>

  <!-- Notifications -->
  <script type="text/template" id="notifsItemTpl">
    {% include 'LilyBackOfficeBundle:Utils/Notifs:notif_item.html.twig' %}
  </script>
  <script type="text/template" id="notifsListTpl">
    {% include 'LilyBackOfficeBundle:Utils/Notifs:notif_list.html.twig' %}
  </script>
  <!-- Chat -->
  <script type="text/template" id="liveSkeletonTpl">
    {% include 'LilyBackOfficeBundle:Utils/Chat:skeleton.html.twig' %}
  </script>
  <script type="text/template" id="liveConversationTpl">
    {% include 'LilyBackOfficeBundle:Utils/Chat/Conversation:conversation.html.twig' %}
  </script>
  <script type="text/template" id="liveConversationShellTpl">
    {% include 'LilyBackOfficeBundle:Utils/Chat/Conversation/Shell:shell.html.twig' %}
  </script>
  <script type="text/template" id="liveConversationShellSuggestionsListTpl">
    {% include 'LilyBackOfficeBundle:Utils/Chat/Conversation/Shell/Suggestions:list.html.twig' %}
  </script>
  <script type="text/template" id="liveConversationShellSuggestionsItemTpl">
    {% include 'LilyBackOfficeBundle:Utils/Chat/Conversation/Shell/Suggestions:item.html.twig' %}
  </script>
  <script type="text/template" id="liveConversationShellAlertTpl">
    {% include 'LilyBackOfficeBundle:Utils/Chat/Conversation/Shell:alert.html.twig' %}
  </script>
  <script type="text/template" id="liveInformationsTpl">
    {% include 'LilyBackOfficeBundle:Utils/Chat:informations.html.twig' %}
  </script>
  <script type="text/template" id="liveRecordTpl">
    {% include 'LilyBackOfficeBundle:Utils/Chat:record.html.twig' %}
  </script>
  <script type="text/template" id="liveMessageOperatorTpl">
    {% include 'LilyBackOfficeBundle:Utils/Chat/Message:operator.html.twig' %}
  </script>
  <script type="text/template" id="liveMessageServerTpl">
    {% include 'LilyBackOfficeBundle:Utils/Chat/Message:server.html.twig' %}
  </script>
  <script type="text/template" id="liveMessageVisitorTpl">
    {% include 'LilyBackOfficeBundle:Utils/Chat/Message:visitor.html.twig' %}
  </script>
  <script type="text/template" id="searchKnowledgeTpl">
    {% include 'LilyBackOfficeBundle:Utils/Chat/Search:search.html.twig' %}
  </script>
  <script type="text/template" id="searchKnowledgeAnswerTpl">
    {% include 'LilyBackOfficeBundle:Utils/Chat/Search:searchAnswer.html.twig' %}
  </script>
  <!-- Modals -->
  <script type="text/template" id="modalConnectionLostTpl">
    {% include 'LilyChatBundle:Connection:lost.html.twig' %}
  </script>
  <script type="text/template" id="modalAlertTpl">
    {% include 'LilyBackOfficeBundle:Utils/Modal:alert.html.twig' %}
  </script>
  <script type="text/template" id="modalAppTpl">
    {% include 'LilyBackOfficeBundle:Utils/Modal:app.html.twig' %}
  </script>
  <script type="text/template" id="modalConfirmTpl">
    {% include 'LilyBackOfficeBundle:Utils/Modal:confirm.html.twig' %}
  </script>
  <script type="text/template" id="modalPromptTpl">
    {% include 'LilyBackOfficeBundle:Utils/Modal:prompt.html.twig' %}
  </script>
  <script type="text/template" id="modalTransferOperatorTpl">
    {% include 'LilyBackOfficeBundle:Utils/Chat/Modals/Transfer:operator.html.twig' %}
  </script>

  <!-- Audio -->
  <audio
    src="http://cdn-saio.fr/audio/chat/new_notification.mp3"
    class="new-chat-notification" preload="auto">
  </audio>

  <!-- custom config -->
  <script>
    window.config.chat = {{ app.user.client.config.chat }};
    window.config.isChatOperator = {{ is_granted('ROLE_CHAT_OPERATOR')|serialize('json') }};
    window.config.userId = '{{ app.user.id }}';
  </script>



  <!-- Load Google Analytics -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    {% if app.environment == 'dev' %}
    ga('create', 'UA-58970452-1', 'auto');
    {% else %}
    ga('create', 'UA-58965885-1', 'auto');
    {% endif %}
  </script>

  <!-- start Mixpanel -->
  <script>
    (function(f,b){if(!b.__SV){var a,e,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
      for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=f.createElement("script");a.type="text/javascript";a.async=!0;a.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";e=f.getElementsByTagName("script")[0];e.parentNode.insertBefore(a,e)}})(document,window.mixpanel||[]);
      {% if app.environment == 'prod' %}
        mixpanel.init("f1ab9fca0c6c7ca73cdfc3dc0b27ea90");
      {% else %}
        mixpanel.init("69f92ff954fa78ac76efc852e3c6b541");
      {% endif %}
  </script>

  <!-- Load Zendesk -->
  <script>
  /*<![CDATA[*/window.zEmbed||function(e,t){var n,o,d,i,s,a=[],r=document.createElement("iframe");window.zEmbed=function(){a.push(arguments)},window.zE=window.zE||window.zEmbed,r.src="javascript:false",r.title="",r.role="presentation",(r.frameElement||r).style.cssText="display: none",d=document.getElementsByTagName("script"),d=d[d.length-1],d.parentNode.insertBefore(r,d),i=r.contentWindow,s=i.document;try{o=s}catch(c){n=document.domain,r.src='javascript:var d=document.open();d.domain="'+n+'";void(0);',o=s}o.open()._l=function(){var o=this.createElement("script");n&&(this.domain=n),o.id="js-iframe-async",o.src=e,this.t=+new Date,this.zendeskHost=t,this.zEQueue=a,this.body.appendChild(o)},o.write('<body onload="document._l();">'),o.close()}("//assets.zendesk.com/embeddable_framework/main.js","saio85.zendesk.com");/*]]>*/
  </script>

</body>
</html>