<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">

<script>
  !function(t){"use strict";var e=t.saio=t.saio||[];if(!e.initialize){if(e.invoked)return void(t.console&&console.error&&console.error("Saio snippet included twice."));
e.invoked=!0,e.methods=["config","api"],e.factory=function(t){return function(){var o=Array.prototype.slice.call(arguments);
return o.unshift(t),e.push(o),e}};for(var o=0;o<e.methods.length;o++){var r=e.methods[o];
e[r]=e.factory(r)}e.load=function(t){var e=document.createElement("script");e.type="text/javascript",e.async=!0,e.src=("https:"===document.location.protocol?"https://":"http://")+"{{ app.request.getHttpHost() ~ app.request.getBaseURL() }}/app/loader/"+t;
var o=document.getElementsByTagName("script")[0];o.parentNode.insertBefore(e,o)},e.SNIPPET_VERSION="1.0.0"
}}(this);

saio.config('chat.setOperatorGroup', '60', false);

// Load saio with your key, which will automatically
// load the tools you've enabled for your account.
saio.load('548053c9a18e2');

saio.api('widget.hide');

saio.api('user.identify', {
  firstname: '',
  lastname: '',
  email: '',
  customFields: {
    'code courtier': 'I05000'
  }
});
// Call saio api methods from here
</script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% block stylesheets %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.css" type="text/css" />
  <!--[if lt IE 9]>
    <script src="{{ asset('js/ie/respond.js') }}" cache="false"></script>
    <script src="{{ asset('js/ie/html5.js') }}" cache="false"></script>
    <script src="{{ asset('js/ie/fix.js') }}" cache="false"></script>
  <![endif]-->

{% endblock %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>

<style>
  body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
  }

  .form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
  }
  .form-signin .form-signin-heading,
  .form-signin .checkbox {
    margin-bottom: 10px;
  }
  .form-signin .checkbox {
    font-weight: normal;
  }
  .form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
</style>
</head>
<body>

  <div class="container">

    <form class="form-signin">
      <h2 class="form-signin-heading">Please sign in</h2>
      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
      <label for="inputFirstName" class="sr-only">First name</label>
      <input type="firstName" id="inputFirstName" class="form-control" placeholder="First name">
      <label for="inputLastName" class="sr-only">Last name</label>
      <input type="lastName" id="inputLastName" class="form-control" placeholder="Last name">
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password">
      <div class="checkbox">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

      <!-- Working link on mobile devices -->
      <a class="saio-click-to-open" href="{{ app.request.getSchemeAndHttpHost() ~ app.request.getBaseURL() }}/app/{{licence}}" target="_blank">
        Open help center
      </a>
    </form>

    <script>
    // Large-enough screen detected
    if (window.matchMedia("(min-device-width: 800px)").matches) {
      $('.saio-click-to-open').on('click', function(ev) {
        // Prevent the link to be followed. Open the app directly on my website instead
        ev.preventDefault();
        saio.api('box.expand');
      });
    }
    </script>
  </div> <!-- /container -->

  <script>
    $('#inputEmail').one('invalid', helpUser);

    function helpUser() {
      setTimeout(function() {
        saio.api('box.expand');

        if (saio.api('app.isChatReady')) {
          saio.api('chat.sendMessageToVisitor', {
            body: 'Vous rencontrez des difficultés à vous logger sur votre espace personnel ? Puis-je vous aider ?'
          });
        } else {
          saio.api('avi.addMessage',
            'Vous rencontrez des difficultés à vous logger sur votre espace personnel ? n\'esitez pas à me poser une question si vous avez besoin d\'aide');
        }
      }, 1500);
    }

    $('.form-signin').on('submit', function(ev) {
      ev.preventDefault();
      var email = $('#inputEmail').val();
      var firstName = $('#inputFirstName').val();
      var lastName = $('#inputLastName').val();

      saio.api('user.identify', {
        email: email,
        firstname: firstName,
        lastname: lastName,
        customFields: {
          lang: 'eng',
          country: 'france',
          'numéro client': '129893230239'
        }
      })
    });
  </script>

</body>
</html>
