<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% block stylesheets %}

  <!--[if lt IE 9]>
    <script src="{{ asset('js/ie/respond.js') }}" cache="false"></script>
    <script src="{{ asset('js/ie/html5.js') }}" cache="false"></script>
    <script src="{{ asset('js/ie/fix.js') }}" cache="false"></script>
  <![endif]-->

{% endblock %}

<script src='{{ app.request.getBaseURL() }}/app/snippet/{{licence}}'></script>

<style>
  html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    border: 0;
    overflow: hidden;
  }

  .wrapper-site {
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding:0;
    border:0
  }

  iframe {
    width: 100%;
    height: 100%;
    padding:0;
    border:0
  }
</style>

</head>
<body>

  <div class="wrapper-site">
    <iframe src="http://{{ url }}"></iframe>
  </div>

</body>
</html>
