
{% extends "LilyBackOfficeBundle::layout.html.twig" %}

{% block stylesheets %}

  {{ parent() }}

  {% stylesheets 'css/backoffice/redirection.css'
     filter='cssrewrite'
     output='css/compiled/redirections.css' %}
  <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
  {% endstylesheets %}

{% endblock %}

{% block body %}

<section class="hbox stretch">

  {% include "LilyBackOfficeBundle::menu.html.twig" with {'user': 'user'}  %}

	{% block content %}
  <!-- .vbox -->
  <section id="redirection" class="vbox">

      <header class="blue-header dker header b-b">
        <p>Redirections</p>
        <a id="redirection-new" class="btn btn-sm btn-primary pull-right">
          <i class="icon-plus pull-left"></i>
          Ajouter une redirection
        </a>
      </header>

      <section class="scrollable">
        <section class="hbox stretch">
          <aside class="bg-white">
            <section class="vbox">
              <section class="scrollable">

                <header class="wrapper-sm clearfix b-b">
                  <div class="col-lg-9 col-md-9 col-sm-8 col-xs-8 redirection-view">
  	                <span>Titre</span>
  	              </div>

                  <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2 text-center">
  	                <span>Fréquence</span>
  	              </div>

                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 redirection-action">
                    <span>Défaut</span>
                  </div>
                </header>

      		      <ul id="redirections-list" class="list-group no-borders no-radius m-b-none list-group-alt list-group-lg">
  	            <!-- Affichage de la liste des redirections -->
  	            </ul>

              </section>
            </section>
          </aside>
          <aside id="redirection-edit" class="aside-redirection bg-light lter b-l hide">
          <!-- Affichage du panneau de modification-->
          </aside>
        </section>
      </section>
      <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen" data-target="#nav"></a>
    </section>
    <!-- /.vbox -->
	{% endblock %}


  {% block templates %}
	<!-- L'appel des différents scripts de vue -->
  <script type="text/template" id="listTpl">
    {% include 'LilyKnowledgeBundle:Redirections:list.html.twig' %}
  </script>
  <script type="text/template" id="editTpl">
    {% include 'LilyKnowledgeBundle:Redirections:edit.html.twig' %}
  </script>
  <script type="text/template" id="modalTpl">
    {% include 'LilyBackOfficeBundle:Utils:modalAlert.html.twig' %}
  </script>
  {% endblock %}

	{% block bootstrap %}
    {% autoescape false %}
      <script type="text/javascript">
        var config = {};
        config.root = '{{ app.request.getBaseURL() }}/lily/api/redirections';
	    </script>
    {% endautoescape %}
	{% endblock %}

</section>

<script
  src="{{ asset('js/bower_components/requirejs/require.js')}}"
  data-main="{{ asset('js/backoffice/redirection/main.js')}}">
</script>

{% endblock %}
