{% extends "LilyBackOfficeBundle::layout.html.twig" %}

{% block stylesheets %} 	   

{{ parent() }} 	   

{% stylesheets 'css/backoffice/profil.css' filter='cssrewrite' output='css/compiled/statistics.css' %}  

  <link rel="stylesheet" href="{{ asset_url }}" type="text/css" /> 

{% endstylesheets %}

{% endblock %}

{% block body %}

<section class="hbox stretch">

  {% include "LilyBackOfficeBundle::menu.html.twig" with {'user': 'user'}  %}

	{% block content %}

    <!-- .vbox -->
    <section id="content">
      <section class="vbox">
        <header class="blue-header header">
          <p>Mon profil</p>
        </header>
        <section class="scrollable">
          <section class="hbox stretch">
            <aside class="aside-profil bg-light lter b-r">
              <!-- User edit template -->
            </aside>
            <aside class="bg-white">
              <section class="vbox">
                <section class="scrollable">
                  <h5 class="m-l m-t-lg">Activités</h5>
                </section>
              </section>
            </aside>
          </section>
        </section>
      </section>
      <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen" data-target="#nav"></a>
    </section>
    <!-- /.vbox -->

	{% endblock %}


  {% block templates %}
  
    {% autoescape false %}
    
    <!-- include of templates -->    
    <!-- replacing </script> with <\/script> so it won't close the <script type="text/template"> even if there is script in our templates -->
    <script type="text/template" id="user-edit">
    {% filter replace({'</script>':'<\\\/script>'}) %}
      {{ render(controller('LilyUserBundle:Profil:getForm')) }}
    {% endfilter %}
    </script>
    {% endautoescape %}
  
  {% endblock %}
  
  {% block bootstrap %}
    {% autoescape false %}
    <script type="text/javascript">
        var root = "{{ path('lily_profil') }}";
    </script>
    {% endautoescape %}
  {% endblock %}


</section>

{% endblock %}

{% block javascripts %}

{% javascripts 
'js/vendor/jquery.min.js' 
'js/vendor/bootstrap.js' 
'js/vendor/underscore.min.js' 
'js/vendor/backbone.min.js'

'js/app.js' 
'js/app.plugin.js' 

'js/daterangepicker/daterangepicker.js' 
 
'bundles/fpjsformvalidator/js/fp_js_validator.js'
'js/backoffice/profil.js' 

output='js/compiled/profil.js' %}

<script type="text/javascript" src="{{ asset_url }}"></script>

{% endjavascripts %}

{% endblock %}