{% extends "LilyBackOfficeBundle::layout.html.twig" %}

{% block body %}

<section class="hbox stretch">

  {% include "LilyBackOfficeBundle::menu.html.twig" with {'user': 'user'}  %}

	{% block content %}

    <!-- .vbox -->
    <section id="content">
      <section class="vbox">
        <header class="blue-header header">
          <p>Mon profil</p>
        </header>
        <section class="scrollable">
          <section class="hbox stretch">
            <aside class="aside-profil bg-light lter b-r">
              <form class="vbox" method="post" action="{{ path('lily_profil') }}">
                <section class="scrollable">
                  <div class="wrapper">
                    <div class="clearfix m-b">
                      <a href="#" class="pull-left thumb m-r">
                        <img width="180" height="180" src="{{ logo }}">
                      </a>
                      <div class="clear m-t-sm">
                        <div class="h5 m-t-xs m-b-xs">{{ app.user.firstname|capitalize }} {{ app.user.lastname|capitalize }}</div>
                        <small class="text-muted">{{ app.user.enterprise.name }}</small>
                      </div>
                      <div class="form-group m-t-xlg">
                        <label>Email</label>
                        <input name="{{ form.email.vars.full_name }}" id="{{ form.email.vars.id }}" type="email" class="form-control input-sm" value="{{ app.user.email }}">
                      </div>
                      <div class="form-group">
                        <label>Téléphone</label>
                        <input name="{{ form.phone.vars.full_name }}" id="{{ form.phone.vars.id }}" type="text" class="form-control input-sm" value="{{ app.user.phone }}">
                      </div>
                      <div class="form-group">
                        <label>Poste occupé</label>
                        <input name="{{ form.post.vars.full_name }}" id="{{ form.post.vars.id }}" type="text" class="form-control input-sm" value="{{ app.user.post }}">
                      </div>
                      <div class="form-group">
                        <label>Pays</label>
                      <input name="{{ form.country.vars.full_name }}" id="{{ form.country.vars.id }}" type="text" class="form-control input-sm" value="{{ app.user.country }}">
                      </div>         
                    </div>
                  </div>
                </div>
                </section>
                <footer class="dk footer text-center">
                  <button type="submit" class="btn btn-sm btn-success">Modifier mon profil</button>
                </footer>   
              </form>
            </aside>
            <aside class="bg-white">
              <section class="vbox">
                <section class="scrollable">
                <h5 class="m-l m-t-lg">Activités</h5>
				<ul class="list-group no-borders no-radius m-b-none m-t-n-xxs list-group-alt">
                {% for activity in activities %}
                  <li class="list-group-item animated bounceInLeft">
                    <h6 class="m-n">Vous avez <b>{{ activity.action }}</b> le {{ activity.loggedAt|date("d/m/Y") }} à {{ activity.loggedAt|date("H:i") }} la <b>{{activity.type}}</b>: <small class="m-l-sm">{{ activity.title }}</small></h6>              
                  </li>
                {% endfor %}            
	            </ul>
                </section>
              </section>
            </aside>
          </section>
        </section>
      </section>
      <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen" data-target="#nav"></a>
    </section>
    <!-- /.vbox -->

	{% endblock %}


	{% block templates %}
	
    {% endblock %}


</section>

{% endblock %}