{% extends "LilyBackOfficeBundle::layout.html.twig" %}

{% block stylesheets %} 	   

  {{ parent() }} 	   

  {% stylesheets 'css/backoffice/dashboard.css' filter='cssrewrite' output='css/compiled/dashboard.css' %}
      
  <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />     

  {% endstylesheets %} 

{% endblock %}

{% block body %}

<section class="hbox stretch">

	{% include "LilyBackOfficeBundle::menu.html.twig" with {'user': 'user'}  %}

	{% block content %}

	<section>
	  <section class="vbox">
  	  <header class="blue-header header"><p>Dashboard</p></header>
	    <section class="scrollable">
		    <div class="wrapper row">
		    
		      <!-- Saving, usage graph, chat graph -->
		      <div class="col-md-6"></div>
          
          <!-- Front & activities -->
		      <div class="col-md-6">
  		      <section class="panel">
              <div class="panel-body lily-iframe">
                <iframe src="{{ path('lily_api_index', {licence: app.user.client.licence } ) }}" width="100%" height="540" frameBorder="0"></iframe>
              </div>
		        </section>
		      </div>
		      
        </div>
	    </section>
	  </section>
	</section>

	{% endblock %}
	
	{% block templates %}
	
		<!-- L'appel des différents scripts de vue -->
    <script type="text/template" id="usageGraphTpl">
      {% include 'LilyBackOfficeBundle:Dashboard/Usage:graph.html.twig' %}
    </script>
    <script type="text/template" id="usageFooterTpl">
      {% include 'LilyBackOfficeBundle:Dashboard/Usage:footer.html.twig' %}
    </script>
    <script type="text/template" id="savingTpl">
      {% include 'LilyBackOfficeBundle:Dashboard/Saving:saving.html.twig' %}
    </script>
    <script type="text/template" id="activitiesTpl">
      {% include 'LilyBackOfficeBundle:Dashboard/Activities:logs.html.twig' %}
    </script>
    
  {% endblock %}

	{% block bootstrap %}
    {% autoescape false %}
      <script type="text/javascript">
  	    var config = {};
        config.root = '{{ app.request.getBaseURL() }}/lily/api/statistics';
	    </script>
    {% endautoescape %}
	{% endblock %}

</section>

<script src="{{ asset('js/bower_components/requirejs/require.js')}}" 
  data-main="{{ asset('js/backoffice/dashboard/main.js')}}">
</script>

{% endblock %}