{% extends "LilyBackOfficeBundle::layout.html.twig" %}

{% block stylesheets %}

  {{ parent() }}
  
  <link rel="stylesheet" href="{{ asset('css/backoffice/dashboard.css', version=getAppVersion()) }}" type="text/css" />

{% endblock %}

{% block body %}

	{% block content %}

	<section>
  	<section class="hbox stretch">

    	{% include "LilyBackOfficeBundle::menu.html.twig" %}

    	<section>
      	<section class="vbox">
    	    <section class="scrollable bg-light">
    		    <div class="wrapper-lg row">

    		      <div class="col-md-6">
    		        <section class="logs-wrapper panel"></section>
      		      <section class="chat-graph-wrapper panel"></section>
    		      </div>

    		      <div class="col-md-6">
      		      <!--
      		      <section class="iframe-wrapper panel"></section>
      		      -->
    		        <section class="usage-graph-wrapper panel"></section>
    		      </div>

            </div>
          </section>
    	  </section>
    	</section>
  	</section>
	</section>

	{% endblock %}

	{% block templates %}

		<!-- L'appel des différents scripts de vue -->
    <script type="text/template" id="usageGraphTpl">
      {% include 'LilyBackOfficeBundle:Dashboard/Usage:graph.html.twig' %}
    </script>
    <script type="text/template" id="usageFooterTpl">
      {% include 'LilyBackOfficeBundle:Dashboard/Usage:footer.html.twig' %}
    </script>
    <script type="text/template" id="chatGraphTpl">
      {% include 'LilyBackOfficeBundle:Dashboard/Chat:graph.html.twig' %}
    </script>
    <script type="text/template" id="chatFooterTpl">
      {% include 'LilyBackOfficeBundle:Dashboard/Chat:footer.html.twig' %}
    </script>
    <script type="text/template" id="aviFrameTpl">
      {% include 'LilyBackOfficeBundle:Dashboard/Avi:iframe.html.twig' %}
    </script>
    <script type="text/template" id="logsTpl">
      {% include 'LilyBackOfficeBundle:Dashboard/Activities:logs.html.twig' %}
    </script>

  {% endblock %}

	{% block bootstrap %}
    {% autoescape false %}
      <script type="text/javascript">
        var config = window.config || {};
        config.version = "{{ getAppVersion() }}";
        config.ws = {};
        config.root = '{{ app.request.getBaseURL() }}/api';
        config.appRoot = '{{ app.request.getBaseURL() }}/app/api';
        config.client = JSON.parse('{{ client | serialize('json') | raw }}');
        config.ws.host = "{{ ws_host }}";
        config.ws.protocol = "{{ ws_protocol }}";
        config.licence = '{{ app.user.client.licence }}';
        config.synapsePassword = '{{ app.user.client.synapsePassword }}';
	    </script>
    {% endautoescape %}
	{% endblock %}

{% if app.environment == 'dev' %}
<script
  src="{{ asset('js/bower_components/requirejs/require.js')}}"
  data-main="{{ asset('js/backoffice/dashboard/main.js')}}">
</script>
{% else %}
<script src="{{ asset('js-build/common.js')}}"></script>
<script src="{{ asset('js-build/chatComp.js')}}"></script>
<script src="{{ asset('js-build/dashboard/main.js')}}"></script>
{% endif %}

{% endblock %}
