<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% block stylesheets %}

  <link rel="stylesheet" href="{{ asset('css/api/lily.css') }}" type="text/css" />
  <link rel="stylesheet" href="http://cdn.saio.fr/customer/{{ licence }}/css/lily-custom.css" type="text/css" />

  <!--[if lt IE 9]>
    <script src="{{ asset('js/ie/respond.js') }}" cache="false"></script>
    <script src="{{ asset('js/ie/html5.js') }}" cache="false"></script>
    <script src="{{ asset('js/ie/fix.js') }}" cache="false"></script>
  <![endif]-->

{% endblock %}

</head>
<body>

{% block body %}
	<div id="lily-toolbar" class="lily-cst-toolbar">
		<span id="lily-toolbar-name" class="lily-cst-toolbar-name">{{ config.avi.name }}</span>
		<div id="lily-toolbar-icons" class="lily-cst-toolbar-icons">
		  <i class="lily-icon lily-icon-reduce"></i>
		</div>
	</div>
	<div id='lily-menu' class="snap-drawer snapdrawer-left scrollable lily-cts-menu"><!-- wrapper pour menu -->
		<div class="lily-menu-body">
			<ul>
				{% if config.avi.active %}
				<li><a href="#/avi"><span class='lily-icon lily-icon-avatar'></span>Agent virtuel</a></li>
				{% endif %}
				{% if config.chat.active and chatAvailable %}
				<li><a href="#/chat" data-reverse="true"><span class='lily-icon lily-icon-conversation'></span>Parler à un conseiller</a></li>
				{% endif %}
				{% if config.avi.redirections.mail %}
				<li><a href="#/mail" data-reverse="true"><span class='lily-icon lily-icon-mail'></span>Nous envoyer un mail</a></li>
				{% endif %}
				{% if config.avi.redirections.phone and redirection is not null  %}
				<li><a href="tel:{{ redirection.phone }}"><span class='lily-icon lily-icon-phone'></span>Nous téléphoner</a></li>
				{% endif %}
				<div class="lily-menu-separator lily-cst-menu-separator"></div>
				<li>
					<ul class="lily-cst-menu-footer">
					{% if config.faq %}
					<li><a href="#/faq" data-reverse="true"><span class='lily-icon lily-icon-faq'></span>FAQ Dynamique</a></li>
					{% endif %}
					{% if config.topquestions %}
					<li><a href="#/top-questions" data-reverse="true"><span class='lily-icon lily-icon-favorite'></span>TOP des questions</a></li>
					{% endif %}
					</ul>
				</li>
			</ul>
		</div>
		<footer><p>Crée par <a href="http://www.saio.fr" target="_blank">SAIO</a></p></footer>
	</div>

	<div id="lily-wrapper-page" class="snap-content"><!-- wrapper page pour menu -->



	{% block templates %}
		<!-- L'appel des différents scripts de vue -->
		<script type="text/template" id="lily-page-avi-template">
	        {% include 'LilyApiBundle:themes/lily/templates:avi.html.twig' with {'config': config,'chatAvailable': chatAvailable } %}
	    </script>
	    <script type="text/template" id="lily-page-chat-template">
	        {% include 'LilyApiBundle:themes/lily/templates:chat.html.twig' with {'config': config } %}
	    </script>
	    <script type="text/template" id="lily-page-chat-welcome-screen">
	        {% include 'LilyApiBundle:themes/lily/templates:chat_welcome_screen.html.twig' with {'config': config} %}
	    </script>
	    <script type="text/template" id="lily-page-faq-template">
	        {% include 'LilyApiBundle:themes/lily/templates:faq.html.twig' %}
	    </script>
	    <script type="text/template" id="lily-page-mail-template">
	        {% include 'LilyApiBundle:themes/lily/templates:mail.html.twig' %}
	    </script>
	    <script type="text/template" id="lily-page-top-questions-template">
	        {% include 'LilyApiBundle:themes/lily/templates:top_questions.html.twig' %}
	    </script>
		<script type="text/template" id="lily-page-content-template">
	        {% include 'LilyApiBundle:themes/lily/templates:content.html.twig' %}
	    </script>
	    <script type="text/template" id="lily-message-user">
	        {% include 'LilyApiBundle:themes/lily/templates:message_user.html.twig' %}
	    </script>
	    <script type="text/template" id="lily-message-simple">
	        {% include 'LilyApiBundle:themes:lily/templates/message_simple.html.twig' %}
	    </script>
	    <script type="text/template" id="lily-message-precision">
	        {% include 'LilyApiBundle:themes/lily/templates:message_precision.html.twig' %}
	    </script>
		<script type="text/template" id="lily-message-redirection">
	        {% include 'LilyApiBundle:themes/lily/templates:message_redirection.html.twig' %}
	    </script>
		<script type="text/template" id="lily-message-notation">
	        {% include 'LilyApiBundle:themes/lily/templates:message_notation.html.twig' %}
	    </script>
		<script type="text/template" id="lily-message-completion">
	        {% include 'LilyApiBundle:themes/lily/templates:message_completion.html.twig' %}
	    </script>
	    <script type="text/template" id="chat-message-visitor">
	        {% include 'LilyApiBundle:themes:lily/templates/message_chat_visitor.html.twig' %}
	    </script>
	    <script type="text/template" id="chat-message-operator">
	        {% include 'LilyApiBundle:themes:lily/templates/message_chat_operator.html.twig' %}
	    </script>
	{% endblock %}

	{% block bootstrap %}
		{% autoescape false %}
		<script type="text/javascript">
			var config = {{ config|serialize('json') }};
	    config.licence = "{{ licence }}";
	    config.root = "{{ path('lily_api_index', { licence: licence }) }}";
	    config.chatAvailable = "{{ chatAvailable }}";
		</script>
		{% endautoescape %}
	{% endblock %}

{% endblock %}

<script
  src="{{ asset('js/bower_components/requirejs/require.js')}}"
  data-main="{{ asset('js/app/main.js')}}">
</script>

</body>
</html>