{% extends "LilyBackOfficeBundle::layout.html.twig" %}

{% block stylesheets %}

{{ parent() }}

{% stylesheets 'css/backoffice/faq.css' 'css/vendor/wysihtml5.css' filter='cssrewrite' output='css/compiled/faq.css' %}
<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />

{% endstylesheets %}

{% endblock %}

{% block body %}

<section>
  <section class="hbox stretch">

  {% include "LilyBackOfficeBundle::menu.html.twig" %}

    {% block content %}
      <!-- .vbox -->
    <section class="js-app">
      <section class="hbox stretch">

        <aside class="bg-white">
  	      <section class="js-module-body vbox scrollable padder-b">

            <!-- Header: holds the breadcrumbs -->
  	        <header class="js-breadcrumbs-container header clearfix padder-t b-b">
              <!--
                Here go the breadcrumb items
                will render as a <ul class="breadcrumb m-n">
              -->
            </header>

            <!--
              Main section: contains the faq category and contents
              + "add" buttons + edit view
            -->
            <section>
              <section class="js-main-container hbox stretch">

                <aside>
                  <section class="vbox">
                    <section class="js-faq-container bg-light wrapper scrollable">
                      <!--
                        Here go the faq items
                      -->
                      <a class="btn btn-sm btn-white new-content pull-right-lg">
                        <i class="icon-plus pull-left"></i>
                        Ajouter un contenu
                      </a>
                      <a class="btn btn-sm btn-white new-category pull-right-lg m-l-sm">
                        <i class="icon-plus pull-left"></i>
                        Ajouter une catégorie
                      </a>
                    </section>
                  </section>
                </aside>
                <!--
                   Affichage du panneau de modification. Will render as:
                   <aside class="aside-faq bg-light lter b-l hide">
                -->
              </section>
            </section>

          </section>
        </aside>
      </section>
    </section>
    {% endblock %}

  </section>
</section>

{% block templates %}

	<!-- L'appel des différents scripts de vue -->
	<script type="text/template" id="categoryTpl">
    {% include 'LilyKnowledgeBundle:Faq:category.html.twig' %}
  </script>
  <script type="text/template" id="contentTpl">
    {% include 'LilyKnowledgeBundle:Faq:content.html.twig' %}
  </script>
  <script type="text/template" id="editTpl">
    {% include 'LilyKnowledgeBundle:Faq:content_edit.html.twig' %}
  </script>
  <script type="text/template" id="breadcrumbTpl">
    {% include 'LilyKnowledgeBundle:Faq:breadcrumb.html.twig' %}
  </script>
  <script type="text/template" id="modalAlertTpl">
    {% include 'LilyBackOfficeBundle:Utils/Modal:alert.html.twig' %}
  </script>

{% endblock %}

{% block bootstrap %}
  {% autoescape false %}

  <script type="text/javascript">
    var config = {};
    config.root = '{{ app.request.getBaseURL() }}/lily/api';
    {% if app.environment == 'dev' %}
    config.wsserver = 'ws://develop.saio.fr';
    {% else %}
    config.wsserver = 'ws://ws.saio.fr';
    {% endif %}
    config.licence = '{{ app.user.client.licence }}';
  </script>

  {% endautoescape %}
{% endblock %}

<script
  src="{{ asset('js/bower_components/requirejs/require.js')}}"
  data-main="{{ asset('js/backoffice/faq/main.js')}}">
</script>

{% endblock %}
